<template>
	<CRow>
        <CCol col="12" lg="12">
	      	<CCard no-header>
	        	<CCardBody>
	        		<div class="task-heading">
	        			<h3 class="d-flex justify-content-between align-items-center"> Global Configurations <CButton color="secondary" @click="goBack" class="float-right">Back</CButton></h3>
	        		</div>
	        		<!-- alert box -->
	        		<CAlert :show.sync="dismissCountDown" v-bind:color="(alertClass)?'success':'danger'" fade>
		            	{{ message }}
		          	</CAlert>

		          	<!-- tabs section -->
    				<CTabs class="custom-tabs-sec" variant="pills" :active-tab="0">
    					<CTab title="Configurations">
    						<CForm @submit.prevent="store" method="POST">
								<CRow>
									<CCol>
										<div class="form-group">
											<input type="hidden" name="_type" value="Configration">
											<CInput label="Logo" type="file" accept="image/*" ref="logoInput" @change="getFile('logo')"></CInput>
										</div>
									</CCol>
									<CCol>
										<img v-if="viewLogo" :src="viewLogo" alt="Logo"  style="width: 100px;" />
									</CCol>
								</CRow>
								<CRow>
									<CCol>
										<div class="form-group">
											<CInput label="Admin Email's" type="email" multiple v-model="emails"></CInput>
										</div>
									</CCol>
								</CRow>
								<CButton color="primary" class="mt-3" type="submit">Save</CButton>
							</CForm>
    					</CTab>

				      	<CTab title="Date/Time">
							<CForm @submit.prevent="store" method="POST">
								<CRow>
									<CCol>
										<div class="form-group">
											<input type="hidden" name="_type" value="Date Time">
											<label>TimeZone</label>
											<select class="form-control" v-model="timezone" required>
					                			<option value="">--Select Timezone--</option>
					                			<option v-for="zone in zones" :value="zone.value">{{ zone.name }}</option>
					                		</select>
										</div>
									</CCol>
									<CCol>
										<div class="form-group">
											<label>Date Format</label>
											<select class="form-control" v-model="dateformat" required>
					                			<option value="">--Select Date Format--</option>
					                			<option v-for="dateVal in dateVals" :value="dateVal.value">{{ dateVal.name }}</option>
					                		</select>
										</div>
									</CCol>
								</CRow>
								<CRow>
									<CCol col="6">
										<div class="form-group">
											<label>Time Format</label>
											<select class="form-control" v-model="timeformat" required>
					                			<option value="">--Select Time Format--</option>
					                			<option v-for="timeVal in timeVals" :value="timeVal.value">{{ timeVal.name }}</option>
					                		</select>
										</div>
									</CCol>
								</CRow>
								<CButton color="primary" class="mt-3" type="submit">Save</CButton>
							</CForm>
				      	</CTab>

				      	<CTab title="Email Templates">
				      		<CForm @submit.prevent="store" method="POST">
								<CRow>
									<input type="hidden" name="_type" value="Template">
									<CCol col="12">
										<div class="form-group">
											<CInput label="Subject" type="text" v-model="template_subject"></CInput>
										</div>
									</CCol>
									<CCol col="12">
										<div class="form-group">
											<CInput label="Title" type="text" v-model="template_title"></CInput>
										</div>
									</CCol>
									<CCol col="12">
										<div class="form-group">
											<label>Body</label>
											<DxHtmlEditor v-model:value="template_body" height="300px" ref="textEditor">
				      							<DxToolbar>
											        <DxItem format-name="header"/>
											        <DxItem format-name="bold"/>
											        <DxItem format-name="italic"/>
											        <DxItem format-name="underline"/>
											        <DxItem format-name="separator"/>
											        <DxItem format-name="bulletList"/>
											        <DxItem format-name="link"/>
											        <DxItem format-name="blockquote"/>
											        <DxItem format-name="alignLeft"/>
											        <DxItem format-name="alignCenter"/>
											        <DxItem format-name="alignRight"/>
											        <DxItem format-name="alignJustify"/>
											        <DxItem format-name="separator"/>
											        <DxItem format-name="color"/>
											        <DxItem format-name="background"/>
											        <DxItem format-name="undo"/>
											        <DxItem format-name="redo"/>
											    </DxToolbar>
				      						</DxHtmlEditor>
										</div>
									</CCol>
									<CCol col="12">
										<div class="template-footer">
											<span>Mail body tags: {from_name}, {from_email}, {task_link}</span>
										</div>
									</CCol>
								</CRow>
								<CButton color="primary" class="mt-3" type="submit">Save</CButton>
							</CForm>
				      	</CTab>
    				</CTabs>

		        </CCardBody>
        	</CCard>
        </CCol>
    </CRow>
</template>

<script>
	import axios from 'axios';
	import { DxHtmlEditor, DxToolbar, DxItem } from 'devextreme-vue/html-editor';

	export default {
	  	name: 'GlobalConfigurations',
	  	data: () => {
	  		return {
	  			zones: [],
	  			dateVals: [],
	  			timeVals: [],
	  			timezone: '',
	  			logo: '',
	  			emails: '',
	  			viewLogo: '',
	  			dateformat: '',
	  			timeformat: '',
	  			message: '',
	  			template_subject: '',
	  			template_title: '',
	  			template_body: '',
	  			alertClass: false,
	  			dismissSecs: 7,
		        dismissCountDown: 0,
		        showDismissibleAlert: false
	  		}
	  	},
	  	components: {
	  		DxHtmlEditor, DxToolbar, DxItem
	  	},
	  	methods: {
	  		async goBack() {
	  			this.$router.go(-1);
	  		},
	  		async store() {
	  			let that = this, _type = event.target.elements._type.value
	  			var formdata = new FormData();

	  			if(_type === "Date Time") {
		  			formdata.append('timezone', this.timezone);
		  			formdata.append('date_format', this.dateformat);
		  			formdata.append('time_format', this.timeformat);
		  		} 
		  		if(_type === "Configration") {
		  			if(this.logo) {
			  			formdata.append('logo', this.logo);
			  		}
		  			formdata.append('emails', this.emails);
		  		}

		  		if(_type === "Template") {
		  			formdata.append('subject', this.template_subject);
		  			formdata.append('title', this.template_title);
		  			formdata.append('body', this.template_body);
		  		}
	  			formdata.append('_type', _type);

	  			axios.post('/api/settings/store?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
		  			var val = response.data, values = response.data.values;
		  			that.message = val.message;
		  			that.alertClass = true;
		  			that.showAlert();
		  			if(_type === "Configration") {
			  			that.$refs.logoInput.state = '';
			  			that.logo = "";
			  			that.viewLogo = values.values.logo.value;
			  		}

		  		}).catch(function (error) {
		  			that.message = "Unable To Proceed Your Request.";
		  			that.alertClass = false;
		  			that.showAlert();
		    	});
	  		},
	  		async showAlert () {
		      	this.dismissCountDown = this.dismissSecs
		    },
		    async getFile(name) {
		    	if(name == "logo") {
		    		this.logo = event.target.files[0];
		    	}
		    }
	  	},
	  	mounted: function() {
	  		let that = this;
	  		axios.get('/api/settings?token=' + localStorage.getItem("api_token")).then(function (response) {
	  			var values = response.data.values;
	  			that.zones = values.formats.zones;
	  			that.dateVals = values.formats.dates;
	  			that.timeVals = values.formats.times;
	  			that.timezone = values.zone.value;
	  			that.dateformat = values.date.value;
	  			that.timeformat = values.time.value;
	  			that.viewLogo = values.logo.value;
	  			that.emails = values.emails.value;
	  			if(values.template.value) {
	  				var val = JSON.parse(values.template.value);
	  				that.template_body = val.body;
	  				that.template_subject = val.subject;
	  				that.template_title = val.title;
	  			}
	  		}).catch(function (error) {
	    		console.log('unable to proceed');
	    	});
	  	}
	}
</script>