<template>
<div role="group" class="form-group">
  <span class="error" v-if="error">{{ error }}</span>
  </div>
</template>
<script>
  export default {
    props: {
        error:  {
          type: [Number,String,Array,Object],
          default: 'Unknown'
        },
    },
    data : function () {
      return {
        test:'helo'
      }
    }
  }
</script>