<template>
  <div class="wrapper">
  <CRow>
    <CCol col="12" xl="12">
      <transition name="slide">
      <CCard>
         <CCardHeader class="d-flex justify-content-between">
              <h4>My Drive</h4>
               <CDropdown 
                toggler-text="Add"
                color="primary"
              >
                <form id="formPostAjax" class="file-outer">
                <input type="file" multiple="multiple" @change="handleFileUpload">
                <p>File</p>
                </form>
                 <CButton  @click="darkModal = true" class="mr-1">
                      Folder
              </CButton>

              </CDropdown>
        </CCardHeader>
        
        <CCardBody>
          <CRow v-if="folders" >
            <CCol class="mb-4" col="2" xl="2" v-for="(folder, index) in folders" v-bind:data="folder"
                 v-bind:key="folder.id">
              <div class="drive-box"  @click="driveToggle" :key="index" v-on:dblclick="doubleClick(folder.link)">
                <div class="togle-btn">
                   <CDropdown
                toggler-text=""
                color=""
                class="mb-1 d-inline-block"
              >
                <CDropdownItem @click="doubleClick(folder.link)">Open</CDropdownItem>
                <CDropdownItem  v-if="folder.isFolder == 'true'" @click="downloadZip(folder.path,folder.name,folder.type)">Download</CDropdownItem>
                 <CDropdownItem  v-if="folder.isFile == 'true'" @click="onClick(folder.path,folder.name,folder.type)">Download</CDropdownItem>
                <CDropdownItem @click="deleteFolderOrFile(folder.id)">Delete</CDropdownItem>
              </CDropdown>
                </div>
                <img v-if="folder.isFolder == 'true'"  src="https://dev.team.teqtop.com/img/folder.png">
                <img v-if="(folder.isFile == 'true')&&(folder.type == 'zip')"  src="https://dev.team.teqtop.com/img/zip-file.png">
                 <img v-if="(folder.isFile == 'true')&&(folder.type == 'docx')" src="https://dev.team.teqtop.com/img/doc-file.png">
                <img v-if="(folder.isFile == 'true')&&(folder.type == 'txt')"  src="https://dev.team.teqtop.com/img/txt-file.png">
                 <img v-if="(folder.type == 'mp4')"  @click="openGallery(index)" src="https://dev.team.teqtop.com/img/video-file.png">
                <img v-if="(folder.isFile == 'true')&&(folder.type == 'jpg' || folder.type == 'png' || folder.type == 'jpeg')"  @click="openGallery(index)" :src="folder.path">
                <p>{{folder.name}}</p>
              </div>
            </CCol> 
          </CRow>
          <CRow v-else>
            No Files
          </CRow>
        </CCardBody>
      </CCard>
      </transition>
       <LightBox 
        v-if="media.length"
        ref="lightbox"
        :media="media"
        :show-caption="true"
        :show-light-box="false"
      />
    </CCol>
    </CRow>
    <CModal
      :show.sync="darkModal"
      :no-close-on-backdrop="true"
      :centered="true"
      title="Modal title 2"
      size="lg"
      color="dark"
    >    
      <form id="createFolder">
        <label class="w-100">
          <span>*</span>Name
         <input class="form-control" type="text" v-model="folderName">
          <validation-error v-if="errors.folderName" :error="errors.folderName[0]"  />
         </label>
         <input type="hidden" name="isFolder" value="true">
     </form>
      <template #header>        
        <h6 class="modal-title">Create Folder</h6>
        <CButtonClose @click="darkModal = false" class="text-white"/>
      </template>
      <template #footer>
        <CButton @click="createFolder" color="primary">Create</CButton>
         <CButton @click="darkModal = false" color="danger">Close</CButton>
      </template>
    </CModal>
    <div class="loader-image" v-if="is_loading">
      <img :src="loader">
    </div>
  </div>
</template>

<script>
  require('vue-image-lightbox/dist/vue-image-lightbox.min.css')
import axios from 'axios'
import LightBox from 'vue-image-lightbox'
import validationError from '@/errors/validation-errors.vue'
import { mapGetters, mapActions } from "vuex";
export default {
  name: 'DriveFolder',
  data: () => {
    return {      
      files: '',
      folders:[],
      folderName:'',
      loader: '/img/loader.gif',
      is_loading: false,
      darkModal: false,
      isActive:false,
      media:[]
    }
  },
   components: {
    LightBox,validationError
  },
   computed: {
    ...mapGetters(["errors"])
  },
  methods: {
    validationError()
      {
         let self = this;
         
         let error={};

          if(!self.folderName){error.folderName=[]; error.folderName[0]="This Field is required!"; }
          if(Object.keys(error).length){
             self.$store.commit("setErrors", error);
             return true;
          }
          self.$store.commit("setErrors", {});

        },
    formPostAjax() {
      let self = this; this.is_loading = true;
      let formData = new FormData();
      for( var i = 0; i < this.files.length; i++ ){
        let file = this.files[i];
        formData.append('files[' + i + ']', file);
      }
      formData.append('isFile', true);
      let path = this.$route.fullPath;
      var lastSegment = path.substring(path.lastIndexOf('/') + 1);
      formData.append('parent', lastSegment);
      axios.post('/api/drives/add?token=' + localStorage.getItem("api_token"), formData)
      .then(function (response) {
        self.is_loading = false;
         self.folders = response.data.driveFolders;
            self.media = response.data.test;
        })
    },
    getDrives(){
      let self = this; this.is_loading = true;
      var _path = self.$route.path;
       axios.get('/api'+_path+'?token=' + localStorage.getItem("api_token"))
        .then(function (response) {
            self.is_loading = false;
            self.folders = response.data.driveFolders;
            self.media = response.data.test;
        })
    },
    handleFileUpload(event) {
        this.files = event.target.files;
        this.formPostAjax();
    },
    createFolder() {
       let self = this;
       if(this.validationError()) {
          return
        }   
        this.is_loading = true;
       let _current_path = this.$route.path;
      let _form = document.getElementById('createFolder');
      let _folder = this.folderName;
      let is_folder = _form.querySelector('input[type="hidden"]').value;
      var lastSegment = _current_path.substring(_current_path.lastIndexOf('/') + 1);
      let formData = new FormData();
      formData.append('_folder', _folder);
      formData.append('is_folder', is_folder);
      formData.append('current_path', _current_path);
      formData.append('parent', lastSegment);
       axios.post('/api/drives/folder/add?token=' + localStorage.getItem("api_token"), formData)
        .then(function (response) {
          self.is_loading = false;
         self.folders = response.data.driveFolders;
            self.media = response.data.test;
        })
    },
     doubleClick(link) {
      alert()
     this.$router.push({ path: link });
    },
    onClick(link,name,ext) {      
      link = document.location.origin+link;
        axios({
              url: link,
              method: 'GET',
              responseType: 'blob',
          }).then((response) => {
               var fileURL = window.URL.createObjectURL(new Blob([response.data]));
               var fileLink = document.createElement('a');

               fileLink.href = fileURL;
               fileLink.setAttribute('download', name);
               document.body.appendChild(fileLink);

               fileLink.click();
          });
    },
    driveToggle(){
      document.querySelectorAll('.drive-box').forEach(function(value){
        if(value.classList.contains('drive-active')) {
          value.classList.remove('drive-active');
        }
      })
      event.currentTarget.classList.toggle('drive-active')
    },
    deleteFolderOrFile(id) {
       let self = this;  this.is_loading = true;
      let _current_path = this.$route.path;
      var lastSegment = _current_path.substring(_current_path.lastIndexOf('/') + 1);
      let formData = new FormData();
      formData.append('parent', lastSegment);
      formData.append('id', id);
       axios.post('/api/drives/folder/delete?token=' + localStorage.getItem("api_token"), formData)
        .then(function (response) {
          self.is_loading = false;
         self.folders = response.data.driveFolders;
            self.media = response.data.test;
        })
    },
     openGallery(index) {
      this.$refs.lightbox.showImage(index)
    },
    downloadZip() {
        this.is_loading = true;
       axios.post('/api/drives/zip-files?token=' + localStorage.getItem("api_token"))
        .then(function (response) {
          self.is_loading = false;
        })
    }
  },
  async mounted (){
      this.getDrives();
  }
}
</script>
