<template>
  <div class="wrapper">
  <CRow>
    <CCol col="12" xl="12">
      <div class="outer-drag-drop" style="display:none" @dragleave="dragleave">
        <!--   <div class="jbjbk">{{percentComplete}}</div> -->
          <div class="inner-drop">
            <h2>Upload file or image</h2>
            <p>Add using drag'n'drop</p> 
            <form>
            <input  type="file" multiple="multiple" @change="handleDragFileUpload" >
          </form>
          </div>
      </div>
      <transition name="slide">
      <CCard>
         <CCardHeader class="d-flex justify-content-between">
           <div class="my-drive"><h4>My Drive :-</h4><p>{{parentFolder.name}}</p></div>
              <div class="dropdown-back-btn">
                <CInput class="mb-0" Placeholder="Filter and search" @input="driveSearch" v-model="search">
                </CInput>
                <div class="back-btn-outer"><CButton color="primary" @click="goBack">Back</CButton></div>
                 <CDropdown 
                  toggler-text="Add"
                  color="primary"
                  class="dropdown-text"
                >
                  <form id="formPostAjax" class="file-outer">
                  <input type="file" multiple="multiple" @change="handleFileUpload">
                  <p>File</p>
                  </form>
                   <CButton  @click="adddarkModal" class="mr-1">
                        Folder
                </CButton>

                </CDropdown>
              </div>
        </CCardHeader>
        
        <CCardBody @dragover='allowDragDrop'>
          <CRow v-if="folders.length" >
            <CCol class="mb-4" col="2" xl="2" v-for="(folder, index) in folders" v-bind:data="folder"
                 v-bind:key="folder.id">
              <div class="drive-box" :data-path="folder.path" :data-name="folder.name" :data-type="folder.type"  :key="index" v-on:dblclick="doubleClick(folder.link)">
                <div class="togle-btn">
                   <CDropdown
                toggler-text=""
                color=""
                class="mb-1 d-inline-block"
              >
                <CDropdownItem v-if="(folder.isFile == 'true') && (folder.type == 'jpg' || folder.type == 'png' || folder.type == 'jpeg'|| folder.type == 'gif'|| folder.type == 'tiff'|| folder.type == 'bmp')" @click="openGallery(folder.keyVal)">Open</CDropdownItem>
                 <CDropdownItem v-if="folder.isFolder == 'true'" @click="doubleClick(folder.link)">Open</CDropdownItem>
                <CDropdownItem  v-if="folder.isFolder == 'true'" @click="downloadZip(folder.path,folder.name,folder.type)">Download</CDropdownItem>
                 <CDropdownItem  v-if="folder.isFile == 'true'" @click="onClick(folder.path,folder.name,folder.type)">Download</CDropdownItem>
                 <CDropdownItem v-if="isAdmin == 'true' || folder.user_id == Auth_id" @click="renameFolderModal(folder.id,folder.isFolder,folder.name)">Rename</CDropdownItem>
                <CDropdownItem v-if="isAdmin == 'true' || folder.user_id == Auth_id" @click="deleteFolderOrFile(folder.id)">Delete</CDropdownItem>
              </CDropdown>
                </div>
                <img v-if="folder.isFolder == 'true'"  :src="filePath.folder">
                <img v-else-if="(folder.isFile == 'true')&&(folder.type == 'zip')"  :src="filePath.zip">
                <img v-else-if="(folder.isFile == 'true')&&(folder.type == 'docx')" :src="filePath.docx">
                <img v-else-if="(folder.isFile == 'true')&&(folder.type == 'pdf')"  :src="filePath.pdf">
                <img v-else-if="(folder.isFile == 'true')&&(folder.type == 'txt')"  :src="filePath.txt">
                <img v-else-if="(folder.isFile == 'true')&&(folder.type == 'psd')"  :src="filePath.psd">
                <img v-else-if="folder.type == 'mp4'"  @click="openGallery(folder.keyVal)" :src="filePath.mp4">
                <img v-else-if="(folder.isFile == 'true') && (folder.type == 'jpg' || folder.type == 'png' || folder.type == 'jpeg'|| folder.type == 'gif'|| folder.type == 'tiff'|| folder.type == 'bmp')"  @click="openGallery(folder.keyVal)" :src="folder.path">
                 <img v-else  :src="filePath.file">
                <p v-c-tooltip.hover="{ content: `${folder.name}`, placement }">{{folder.name}}</p>
              </div>
            </CCol> 
          </CRow>
           <CRow v-else class="no-file-folder">
            <div class="disk-folder-list-no-data-inner-message">
            There are no files or folders in this folder
          </div>
          <div class="disk-folder-list-no-data-inner-variable">
            <div id="disk-folder-list-no-data-upload-file" class="drive-folder-outer disk-folder-list-no-data-inner-create-file">
              <CIcon name="cil-file"/>Create file

              <form class="formPostAjax file-outer">
                <input type="file" multiple="multiple" @change="handleFileUpload">
                </form>


            </div>
            <div id="disk-folder-list-no-data-create-folder" @click="darkModal = true" class="drive-folder-outer disk-folder-list-no-data-inner-create-folder">
              <CIcon name="cil-folder"/>Create folder
            </div>
          </div>
          </CRow>
        </CCardBody>
      </CCard>
      </transition>
       <LightBox 
        v-if="media.length"
        ref="lightbox"
        :media="media"
        :show-caption="false"
        :show-light-box="false"
        :show-thumbs="false"
        :show-footer-count="false"
        @onClosed="closeModal"
        @onOpened="openModal"
        @onImageChanged="currentVal"
      />
    </CCol>
    <div class="download-file" v-if="downloadBtn==true">
       <a type="button"><CIcon name="cil-cloud-download"/> Download</a>
    </div>
    </CRow>
    <progressBar  :uploadPercentage="percentComplete" :progressUpgrade="progressUpgrade"/>
    <DownloadProgressBar  
     :downloadUploadPercentage="downloadPercentComplete" 
     :downloadProgressUpgrade="downloadProgressUpgrade"
      :kbps ="kbps"
     />
    <CModal
      :show.sync="darkModal"
      :no-close-on-backdrop="true"
      :centered="true"
      title="Modal title 2"
      size="lg"
      color="dark"
      class="drive-folder"
    >    
      <form id="createFolder">
        <label class="w-100">
          <span>*</span>Name
         <input class="form-control" type="text" v-model="folderName">
          <validation-error v-if="errors.folderName" :error="errors.folderName[0]"  />
         </label>
         <input type="hidden" name="isFolder" value="true">
     </form>
      <template #header>        
        <h6 class="modal-title">Create Folder</h6>
        <CButtonClose @click="darkModal = false" class="text-white"/>
      </template>
      <template #footer>
        <CButton @click="createFolder" color="primary">Create</CButton>
         <CButton @click="darkModal = false" color="danger">Close</CButton>
      </template>
    </CModal>
     <CModal
      color="danger"
      :show.sync="dangerModal"
      class="no-zip-popup"
    >
     There are no files or folders!
    </CModal>
    <CModal
      class="drive-upload"
          title="Rename Folder or File"
          color="info"
          :centered="true"
      :show.sync="renameModal"
    >
     <div class="rename-outer">
      <input type="text" v-model="renameFolderName" class="form-control">
     </div>
     <validation-error v-if="errors.folderName" :error="errors.folderName[0]"  />
     <template #footer>
        <CButton  @click="renameFolderOrFile" color="secondary">Save</CButton>
      </template>
    </CModal>
    <div class="loader-image" v-if="is_loading">
      <img :src="loader">
    </div>
  </div>
</template>

<script>
  require('vue-image-lightbox/dist/vue-image-lightbox.min.css')
import axios from 'axios'
import LightBox from 'vue-image-lightbox'
import validationError from '@/errors/validation-errors.vue'
import progressBar from '@/drive/FileProgress.vue'
import DownloadProgressBar from '@/drive/DownloadProgressBar.vue'
import { mapGetters, mapActions, mapState } from "vuex";
export default {
  name: 'DriveFiles',
  data: () => {
    return {      
      files: '',
      progressWidth: 0,
      downloadProgressWidth:0,
      search: '',
      loader: '/img/loader.gif',
      filePath:{ "zip": "https://team.teqtop.com/img/zip-file.png", 
                  "docx": "https://team.teqtop.com/img/doc-file.png",
                  "folder": "https://team.teqtop.com/img/folder.png",                  
                  "mp4": "https://team.teqtop.com/img/video-file.png",                  
                  "txt": "https://team.teqtop.com/img/txt-file.png" ,
                  "psd": "https://team.teqtop.com/img/psd-icon.png" ,
                  "pdf": "https://team.teqtop.com/img/pdf-icon.png",
                  "file": "https://team.teqtop.com/img/file.png" 
              },
      folders:[],
      placement: 'bottom',
      folderName:'',
      parentFolder:'',
      darkModal: false,
      dangerModal:false,
      isActive:false,
      renameModal:false,
      is_loading: false,
      targetId: '',
      isAdmin: null,
      Auth_id: null,
      media:[],
      imageType:['jpg','jpeg','gif','png','tiff','bmp'],
      num:0,
      renameIsFolder:'',
      renameFolderName:'',
      oldFolderName:'',
      renameId:''
    }
  },
   components: {
    LightBox,validationError,progressBar,DownloadProgressBar
  },
   computed: {
    ...mapGetters(["errors"]),
    ...mapGetters(["downloadBtn"]),
    ...mapState(['percentComplete','downloadPercentComplete','kbps']),
     progressUpgrade() {
        return this.progressWidth;
      
    },
    downloadProgressUpgrade() {
      return this.downloadProgressWidth;
      
    }
  },
  methods: {
    validationError()
      {
         let self = this;
         
         let error={};

          if(!self.folderName){error.folderName=[]; error.folderName[0]="This Field is required!"; }
          if(Object.keys(error).length){
             self.$store.commit("setErrors", error);
             return true;
          }
          self.$store.commit("setErrors", {});

        },
    formPostAjax(files) {
       if(files) {
        this.files=files;
        document.querySelector('.drive-upload .outer-drag-drop').style.display="none";
      }
      let self = this;
      self.progressWidth=0;
      let formData = new FormData();
      for( var i = 0; i < this.files.length; i++ ){
        let file = this.files[i];
        formData.append('files[' + i + ']', file);
      }
      formData.append('isFile', true);
      let path = this.$route.fullPath;
      var lastSegment = path.substring(path.lastIndexOf('/') + 1);
      formData.append('parent', lastSegment);
      self.$store.commit('setProgressBarModal', true)
      let config = {
         onUploadProgress(progressEvent) {
          var percentCompleted = Math.round((progressEvent.loaded * 100) /
            progressEvent.total);
            self.progressWidth = percentCompleted;            
            self.$store.commit('setPercentComplete', percentCompleted)
            if(percentCompleted === 100) {
               setTimeout(function() {
                    self.$store.commit('setProgressBarModal', false)  
                    self.$store.commit('setPercentComplete', 0)                 
               }, 1000);   
           } 
        },
      };
      axios.post('/api/drives/add?token=' + localStorage.getItem("api_token"), formData, config)
      .then(function (response) {
         self.folders = response.data.driveFolders;
            self.media = response.data.test;
             let _targetEl = document.querySelector('.outer-drag-drop');
            if(_targetEl.style.display == "flex") {
              _targetEl.style.display='none';
            }
        })
    },
    getDrives(){
      let self = this;self.is_loading = true;
      var _path = self.$route.path;
       axios.get('/api'+_path+'?token=' + localStorage.getItem("api_token"))
        .then(function (response) {
            self.folders = response.data.driveFolders;
            self.media = response.data.test;
            self.is_loading = false;
            self.parentFolder = response.data.parentFolder;
            self.targetId = response.data.parentFolder.id;
            self.Auth_id = localStorage.getItem("user");
            self.isAdmin = localStorage.getItem("type");
        })
    },
    handleFileUpload(event) {
        this.files = event.target.files;
        this.formPostAjax();
    },
    createFolder() {
       let self = this;      
       if(this.validationError()) {
          return
        }   
      self.$store.commit("setErrors", {});
      self.is_loading = true;
      let _current_path = this.$route.path;
      let _form = document.getElementById('createFolder');
      let _folder = this.folderName;
      let is_folder = _form.querySelector('input[type="hidden"]').value;
      var lastSegment = _current_path.substring(_current_path.lastIndexOf('/') + 1);
      let formData = new FormData();
      formData.append('_folder', _folder);
      formData.append('is_folder', is_folder);
      formData.append('current_path', _current_path);
      formData.append('parent', lastSegment);
       axios.post('/api/drives/folder/add?token=' + localStorage.getItem("api_token"), formData)
        .then(function (response) {
        	if(response.data.errors) {
        		let error={};
        		self.is_loading = false;
        		error.folderName=[];
        		error.folderName[0]=response.data.errors;
 				self.$store.commit("setErrors", error);
        	} else {
				self.is_loading = false;
				self.darkModal = false;
				self.folders = response.data.driveFolders;
				self.media = response.data.test;
        	}
         
        })

    },
     doubleClick(link) {
      let self=this;
      var _type=event.currentTarget.getAttribute('data-type');
      var _path=event.currentTarget.getAttribute('data-path');
      var _name=event.currentTarget.getAttribute('data-name');
      if((_type != null) &&(_type=="pdf" || _type=='zip' || _type =="docx" || _type =="txt" )) {
        self.onClick(_path,_name,_type)
      }

     this.$router.push({ path: link });
    },
    onClick(link,name,ext) {      
      link = document.location.origin+link;
        axios({
              url: link,
              method: 'GET',
              responseType: 'blob',
          }).then((response) => {
               var fileURL = window.URL.createObjectURL(new Blob([response.data]));
               var fileLink = document.createElement('a');
               fileLink.href = fileURL;
               fileLink.setAttribute('download', name);
               document.body.appendChild(fileLink);
               fileLink.click();
          });
    },
    renameFolderModal(id,isFolder,name){
    	  this.$store.commit("setErrors", {});
	      this.renameModal=true;
	      this.renameIsFolder = isFolder;
	      this.renameId = id;
	      this.renameFolderName = name;
	      this.oldFolderName = name;
    },
    renameFolderOrFile(){
      let self = this;
      let _current_path = this.$route.path;
	  var lastSegment = _current_path.substring(_current_path.lastIndexOf('/') + 1);
      let formData = new FormData();
      formData.append('isFolder', self.renameIsFolder);
      formData.append('oldFolderName', self.oldFolderName);
      formData.append('renameFolderName', self.renameFolderName);
      formData.append('parent', lastSegment);
      formData.append('id', self.renameId);
       axios.post('/api/drives/folder/rename', formData)
        .then(function (response) {
        	if(response.data.errors) {
        		let error={};
        		error.folderName=[];
        		error.folderName[0]=response.data.errors;
 				self.$store.commit("setErrors", error);
        	} else {
				self.folders = response.data.driveFolders;
				self.media = response.data.test;
				self.renameModal=false;
        	}
        	
        })
    },
    deleteFolderOrFile(id) {
       let self = this;self.is_loading = true;
      let _current_path = this.$route.path;
      var lastSegment = _current_path.substring(_current_path.lastIndexOf('/') + 1);
      let formData = new FormData();
      formData.append('parent', lastSegment);
      formData.append('id', id);
       axios.post('/api/drives/folder/delete?token=' + localStorage.getItem("api_token"), formData)
        .then(function (response) {
            self.folders = response.data.driveFolders;
            self.media = response.data.test;
            self.is_loading = false;
        })
    },
     openGallery(index) {
      this.$refs.lightbox.showImage(index)
    },
    downloadZip(path,name,type) {
      let self = this; 
      self.$store.commit('setDownloadProgressBarModal', true)
      let formData = new FormData();
      formData.append('path', path);
      formData.append('type', type);
      formData.append('name', name);
       axios.post('/api/drives/zip-files?token=' + localStorage.getItem("api_token"), formData)
        .then(function (response) {
          var start = new Date().getTime();
          if(response.data.error) {
             self.dangerModal =true;
             self.is_loading = false;
             self.$store.commit('setDownloadProgressBarModal', false)
          } else {
            self.is_loading = false;
            var link = "https://dev.team.teqtop.com"+response.data;
            let config = {
               onDownloadProgress(progressEvent) {
                var percentCompleted = Math.round((progressEvent.loaded * 100) /
                  progressEvent.total);
                  var end = new Date().getTime();
                  var duration = (end-start)/1000;
                  var bps = progressEvent.loaded/duration;
                  var kbps = bps/1024;
                  kbps = Math.floor(kbps);
                  var time = (progressEvent.total/progressEvent.loaded)/bps;
                  var seconds = time%60;
                  var minutes = time/60;
                  self.downloadProgressWidth = percentCompleted; 
                  var completed = new Object();
                   completed.percentCompleted = percentCompleted;         
                   completed.kbps = kbps;         
                   // completed.minutes = minutes;         
                  self.$store.commit('setDownloadPercentComplete', completed)
                   // completed.seconds = seconds;
                    if(percentCompleted === 100) {
                       setTimeout(function() {
                            self.$store.commit('setDownloadProgressBarModal', false) 
                          
                       }, 1000);   
                   } 
                  
              }
            };
             axios.get(link, config).then(() => {
                     window.location = link;
                });
          }
         
        })
    },
    closeModal(){
      var self=this;
       self.$store.commit('setDownloadBtn', false)
    },
    openModal(){
      var self=this;
       self.$store.commit('setDownloadBtn', true)
       self.$nextTick(() => {
        var _src="";
        if(event.target.className == "dropdown-item"){
          _src = event.target.parentElement.parentElement.parentElement.nextElementSibling.getAttribute('src');
        } else {
           _src = event.currentTarget.getAttribute('src');
        }
         
         document.querySelector('.download-file a').setAttribute('download','');
         document.querySelector('.download-file a').setAttribute('href', _src);
       });
    },
    currentVal() {
          setTimeout(() => { 
             let _src = document.querySelector('.vue-lb-modal-image') || document.querySelector('.vue-lb-content .vue-lb-figure video source')
             _src = _src.getAttribute('src');
             document.querySelector('.download-file a').setAttribute('download','');
             document.querySelector('.download-file a').setAttribute('href', _src);
         }, 800);      
    },
     goBack() {
      this.$router.go(-1)
    },
    driveSearch(){
      let self=this;
      self.is_loading = true;     
      let path = this.$route.fullPath;
      var lastSegment = path.substring(path.lastIndexOf('/') + 1);
      var formdata = new FormData();
      formdata.append('search', this.search);
      formdata.append('parent', lastSegment);
      axios.post('/api/drives/search-drive', formdata)
      .then(function (response) {
        self.is_loading = false;
        self.folders = response.data.driveFolders;
        self.media = response.data.test;
      });
      
    },
    handleDragFileUpload(event) {
      this.files = event.target.files;
        this.formPostAjax();
    },
    allowDragDrop() {
       document.querySelector('.outer-drag-drop').style.display="flex";
    },
    dragleave() {
      document.querySelector('.outer-drag-drop').style.display="none";
   },
   adddarkModal() {
    this.darkModal = true;
    this.$store.commit("setErrors", {});
   }
   
  },
  async mounted (){
      this.getDrives();
  }
}
</script>
