<template>
  <CRow>
    <CCol col="12" lg="12">
      <CCard no-header>
        <CCardBody class=" d-flex justify-content-between align-items-center">
          <h4 class="mb-0">{{ name }}</h4> <CButton color="primary" @click="goBack">Back</CButton>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import axios from 'axios'
  export default {
    name: 'Role',
    data: () => {
      return {
        name: '',
      }
    },
    methods: {
      goBack() {
        this.$router.go(-1)
      }
    },
    mounted: function() {
      let self = this;
      axios.get(  '/api/roles/' + self.$route.params.id + '?token=' + localStorage.getItem("api_token"))
      .then(function (response) {
        self.name = response.data.name
      }).catch(function (error) {
        console.log(error);
        self.$router.push({ path: '/login' })
      });
    }
  }
</script>
