<template>
  <CRow>
    <CCol col="12" xl="12">
      <transition name="slide">
      <CCard>
        <CCardBody>
            <h4>Roles</h4>
            <CAlert
              :show.sync="dismissCountDown"
              color="primary"
              fade
            >
              ({{dismissCountDown}}) {{ message }}
            </CAlert>
            <CDataTable
              hover
              :items="items"
              :fields="fields"
              :items-per-page="10"
              pagination
            >
              <template #name="{item}">
                <td>
                  <strong>{{item.name}}</strong>
                </td>
              </template>
              <template #hierarchy="{item}">
                <td>
                  <strong>{{item.hierarchy}}</strong>
                </td>
              </template>
               <template #show="{item}">
                <td>
                  <div class="action-btns">
                    <a @click="showRole( item.id )" class="view-item-icon"><img src="/img/view-icon.png" alt="view-icn"/></a>
                  </div>
                </td>
              </template>
            </CDataTable>
        </CCardBody>  
      </CCard>
      </transition>
    </CCol>
    <div class="loader-image" v-if="is_loading">
      <img :src="loader">
    </div>
  </CRow>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Roles',
  data: () => {
    return {
      items: [],
      fields: ['name', 'show'],
      currentPage: 1,
      perPage: 5,
      totalRows: 0,
      you: null,
      loader: '/img/loader.gif',
      is_loading: false,
      message: '',
      showMessage: false,
      dismissSecs: 7,
      dismissCountDown: 0,
      showDismissibleAlert: false
    }
  },
  computed: {
  },
  methods: {
    getRowCount (items) {
      return items.length
    },
    roleLink (id) {
      return `roles/${id.toString()}`
    },
    editLink (id) {
      return `roles/${id.toString()}/edit`
    },
    showRole ( id ) {
      const roleLink = this.roleLink( id );
      this.$router.push({path: roleLink});
    },
    editRole ( id ) {
      const editLink = this.editLink( id );
      this.$router.push({path: editLink});
    },
    deleteRole ( id ) {
      let self = this;
      let noteId = id;
      axios.post(  '/api/roles/' + id + '?token=' + localStorage.getItem("api_token"), {
        _method: 'DELETE'
      })
      .then(function (response) {
        if(response.data.status === 'success'){
            self.message = 'Successfully deleted role.';
            self.showAlert();
            self.getRoles();
        }else if(response.data.status === 'rejected'){
            self.message = "Can't delete. Role has assigned one or more menu elements.";
            self.showAlert();
        }
      }).catch(function (error) {
        console.log(error);
        self.$router.push({ path: '/login' });
      });
    },
    createRole () {
      this.$router.push({path: 'roles/create'});
    },
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert () {
      this.dismissCountDown = this.dismissSecs
    },
    getRoles (){
      let self = this; this.is_loading = true;
      axios.get(  '/api/roles?token=' + localStorage.getItem("api_token") )
      .then(function (response) {
        self.is_loading = false;
        self.items = response.data;
      }).catch(function (error) {
        console.log(error);
        self.$router.push({ path: '/login' });
      });
    }
  },
  mounted: function(){
    this.getRoles();
  }
}
</script>

<style scoped>
.card-body >>> table > tbody > tr > td {
  cursor: pointer;
}
</style>
