<template>
	<div class="sidebar-section dashboard-sidebar">
		<CCard v-if="permissions" class="mb-1">
	      	<CCardBody>
				<div class="info-section">
					<div class="info-header green-color">
						<b>Users</b>
					</div> 
					<div class="info-div" @click="userUrl">
						<div class="left-sec">Total Users</div> 
						<div class="right-sec">{{ this.data.total_users }}</div>
					</div>
				</div>
			</CCardBody>
		</CCard>
		<CCard class="mb-1">
	      	<CCardBody>
				<div class="info-section birthday_section latest-project-section">
					<div class="info-header blue-color">
						<b>Latest Project</b>
					</div>
					<div class="info-div" v-for="project, key in projects" >
						<div class="project-sec" @click="goToProject(project.id)">{{ project.name }}</div>
					</div>
				</div>
			</CCardBody>
		</CCard>
		<CCard class="mb-1">
	      	<CCardBody>
				<div class="info-section birthday_section">
					<div class="info-header blue-color">
						<b>Birthdays</b>
					</div>  
					<div class="info-div" v-for="birthday in birthdays" v-bind:class="(birthday.birth_date == 'Today!')?'active':''">
						
						<div class="left-sec">
							<div class="small-rounded-img">
								<img :src="birthday.thumbnail" class="c-avatar-img" v-if="birthday.thumbnail">
								<img :src="avtar" v-else>
							</div>
						</div>
						<div class="left-sec" v-if="birthday.birth_date == 'Today!'"><span class='birthday-name'>{{birthday.name}}</span><br><CIcon name='cil-birthday-cake' /><span class='span-birth'>{{birthday.birth_date}}</span></div>
						<div class="left-sec" v-else><span class='birthday-name'>{{birthday.name}}</span><br><span class='birthday-date'>{{birthday.birth_date}}</span></div> 
					</div>
				</div>
			</CCardBody>
		</CCard>

		<CCard v-if="permissions && data.appraisals.length" class="mb-1">
	      	<CCardBody>
				<div class="info-section birthday_section">
					<div class="info-header blue-color">
						<b>Appraisals</b>
					</div>
					<div class="info-div" v-for="appraisal in data.appraisals" v-bind:class="(appraisal.date == 'Today!')?'active':''">
						<div class="left-sec">
							<div class="small-rounded-img">
								<img :src="appraisal.profile" class="c-avatar-img" v-if="appraisal.profile">
								<img :src="avtar" v-else>
							</div>
						</div>
						<div class="left-sec" v-if="appraisal.date == 'Today!'">
							<span class='birthday-name'>{{ appraisal.name }}</span><br>
							<span class='span-birth'>{{ appraisal.date }}</span>
						</div>
						<div class="left-sec" v-else>
							<span class='birthday-name'>{{ appraisal.name }}</span><br>
							<span class='birthday-date'>{{ dateFormatVal(appraisal.appraisel_date, appraisal.date) }}</span>
						</div> 
					</div> 
				</div>
			</CCardBody>
		</CCard>
		<CCard class="mb-1">
	      	<CCardBody>
				<div class="info-section">
					<div class="info-header blue-color">
						<b>Tasks</b>
					</div>  
					<div class="info-div" @click="taskUrl('ongoing')">
						<div class="left-sec">Ongoing</div> 
						<div class="right-sec">{{ this.data.ongoing }}</div>
					</div>
					<div class="info-div" @click="taskUrl('assisting')">
						<div class="left-sec">Assisting</div> 
						<div class="right-sec">{{ this.data.assisting }}</div>
					</div>
					<div class="info-div" @click="taskUrl('creator')">
						<div class="left-sec">Set By Me</div> 
						<div class="right-sec">{{ this.data.creator }}</div>
					</div>
					<div class="info-div" @click="taskUrl('following')">
						<div class="left-sec">Following</div> 
						<div class="right-sec">{{ this.data.following }}</div>
					</div>
				</div>
			</CCardBody>
		</CCard>
	</div>


</template>

<script>
	import moment from 'moment'; 

	export default {
		name: 'DashboardSidebar',
		props: ['data', 'permissions','birthdays','avtar','projects'],
		methods: {
			taskUrl(component) {
				let link = `/tasks?type=${btoa(component)}`;
				this.$router.push({path: link});
			}, 
			userUrl() {
				this.$router.push({path: '/users'});
			},
			goToProject(_id) {
				this.$router.push({path: '/projects/'+_id});
			},
			dateFormatVal(val, format) {
				return moment(val).format(format);
			}
		}
	}
</script>