<template>
  <CContainer class="d-flex content-center min-vh-100 login-outer">
    <CRow class="d-flex content-center align-items-center">
      <CCol col="9" xl="9">
        <CCardGroup class="login-section">
          <CCard class="p-4">
            <CCardBody>
            	 
            	
              <CForm @submit.prevent="login" method="POST">
                <h1>Login</h1>
                <p class="text-muted">Sign In to your account</p>
                
                <CAlert v-if="loginMessage"
		            color="danger"
		          >
              
		            {{loginMessage}}
		            
		        </CAlert>

                <CInput
                  v-model="email"
                  prependHtml="<i class='cui-user'></i>"
                  placeholder="Username"
                  autocomplete="username email"
                >
                  <template #prepend-content><CIcon name="cil-user"/></template>
                </CInput>
                <CInput
                  v-model="password"
                  prependHtml="<i class='cui-lock-locked'></i>"
                  placeholder="Password"
                  type="password"
                  autocomplete="curent-password"
                >
                  <template #prepend-content><CIcon name="cil-lock-locked"/></template>
                </CInput>
                <CRow>
                  <CCol col="12">
                    <CButton type="submit" color="primary" class="px-4">Login</CButton>
                     <CButton  
                        color="success"
                        @click="socialLogin('google')"
                     >
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" role="img" class="c-icon c-icon-custom-size" height="42"><path d="M16.318 13.714v5.484h9.078c-0.37 2.354-2.745 6.901-9.078 6.901-5.458 0-9.917-4.521-9.917-10.099s4.458-10.099 9.917-10.099c3.109 0 5.193 1.318 6.38 2.464l4.339-4.182c-2.786-2.599-6.396-4.182-10.719-4.182-8.844 0-16 7.151-16 16s7.156 16 16 16c9.234 0 15.365-6.49 15.365-15.635 0-1.052-0.115-1.854-0.255-2.651z"></path></svg></CButton>
                  </CCol>
                </CRow>
              </CForm>
                
            </CCardBody>
          </CCard>
          <CCard
            color=""
            text-color="white"
            class="text-center py-5 d-md-down-none card-logo"
            body-wrapper
          >
            <div class="login-logo">
              <img v-if="logo" :src="logo" alt="login-logo">
            </div>
          </CCard>
        </CCardGroup>
      </CCol>
    </CRow>
  </CContainer>
</template>

<script>

import axios from "axios";
import { mapGetters, mapActions, mapState } from "vuex";
import validationError from '@/errors/validation-errors.vue'
    export default {
      name: 'Login',
      data() {
        return {
          email: '',
          password: '',
          showMessage: false,
          message: '',
          logo: ''
        }
      },
       components: {
        validationError
      },
      computed: {
        ...mapGetters(["errors"]),
        ...mapState({ 
        	isAuthenticated: state => state.auth.isAuthenticated,
        	loginMessage: state => state.auth.loginMessage,


        }),
      },
      methods: {
        goRegister(){
          this.$router.push({ path: 'register' });
        },
        login() {
          let self = this;
          self.$store.dispatch('auth/sendLoginRequest', {email: self.email,password:self.password})
         // console.log(this);

        },
        socialLogin(provider)
        {
          let self = this;
          self.$store.dispatch('auth/sendSocialLoginRequest', { provider: provider })

        },
        checkLogin() {
          if(localStorage.getItem("api_token")) {
            this.$router.push({ path: 'dashboard' });
          }
        },
        getSiteLogo() {
          let that = this;
          axios.get('/api/site-logo?token=' + localStorage.getItem("api_token")).then(function (response) {
            that.logo = response.data.logo;
          }).catch(function (error) {
            that.logo = '/img/logo.png'
            console.log('No logo found');
          });
        }
      },      
      mounted(){
        this.getSiteLogo();
        this.checkLogin();
        this.$store.commit("setErrors", {});
      }
    }

</script>
