<template>
	<CRow>
		<CCol col="12" xl="12">
			<transition name="slide">
				<CCard>
					<CCardHeader class="d-flex justify-content-between align-items-center">
						<h4 class="mb-0">Archive Employees</h4>
					</CCardHeader>
					<CCardBody>
						<CAlert :show.sync="dismissCountDown" color="primary" fade>
							{{ message }}
						</CAlert>
						<div class="table-responsive">
							<table class="table table-manage-user table-striped" id="users_table">
								<thead>
						            <tr>
						                <th scope="col">Employee ID</th>   
						                <th scope="col">Name</th>   
						                <th scope="col">Registered</th>   
						                <th scope="col">Roles</th>     
						                <th scope="col">Status</th>           
						                <th scope="col">Action</th>               
						            </tr>
						        </thead>
						        <tbody></tbody>
							</table>
						</div>

					</CCardBody>
				</CCard>
			</transition>
		</CCol>
		<div class="loader-image" v-if="is_loading">
			<img :src="loader">
		</div>
	</CRow>
</template>

<script>
	import axios from 'axios'

	export default {
		name: 'ArchiveEmployees',
		data: () => {
			return {
				items: [],
				currentPage: 1,
				perPage: 5,
				totalRows: 0,
				you: null,
				is_admin: false,
				message: '',
				loader: '/img/loader.gif',
				is_loading: false,
				showMessage: false,
				dismissSecs: 7,
				dismissCountDown: 0,
				showDismissibleAlert: false
			}
		},
		paginationProps: {
			align: 'center',
			doubleArrows: false,
			previousButtonHtml: 'prev',
			nextButtonHtml: 'next'
		},
		methods: {
			userLink (id) {
				return `/employees/${id.toString()}`
			},
			editLink (id) {
				return `/employees/${id.toString()}/edit`
			},
			restoreUser ( uid ) {
				let self = this; let id = uid;
				axios.post(  '/api/archive-users/restore', {
						id: id
						})
				.then(function (response) {
					self.message = 'Successfully Restore user.';
					self.showAlert();
					jQuery('#users_table').DataTable().destroy()
					self.getArchiveUsers();
				})
			},
			countDownChanged (dismissCountDown) {
				this.dismissCountDown = dismissCountDown
			},
			showAlert () {
				this.dismissCountDown = this.dismissSecs
			},
			getArchiveUsers (){
				let that = this;
				jQuery('#users_table').DataTable({
					"lengthMenu": [ [10, 50, 100, -1], [10, 50, 100, "All"] ],
					"order": [],
					processing: true,
			        serverSide: true,
			        ajax: '/api/archive-users?token=' + localStorage.getItem("api_token"),
					columns: [
						// {data: 'DT_RowIndex' },
			            {data: 'employee_id'},
			            // {data: 'name'},
			            {data: 'name', name: 'name',
                            render:function (data, type, full, meta) {
                            	return '<a data="'+full.id+'" class="view-item-icon">'+full.name+'</a>';
                            }
                        },
			            {data: 'registered'},
			            {data: 'roles'},		            
			            {data: 'status'},
			            {data: 'action', name: 'action',
                            render:function (data, type, full, meta) {
                            	var btn = '';
	                            	var _inner = '<a data="'+full.id+'" class="view-item-icon dropdown-item"><img src="/img/restore.png" alt="view-icn"/> Restore</a>';
	                            	btn = '<div class="custom-list-dropdown"><div class="dropdown"><p class="dropdown-toggle pointer text-center" id="listusrs'+full.id+'" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/img/drop-icon.svg" /></p><div class="dropdown-menu" aria-labelledby="listusrs'+full.id+'">'+_inner+'</div></div></div>';

                                return btn;
                            }, orderable: false, searchable: false
                    	}
			        ],
			        "language":{
			        	"processing": '<div class="loader-image"><img src="'+that.loader+'"></div>',
			        },
			        "dom": '<"top table-search-flds d-flex align-items-center justify-content-between"fl>rt<"bottom table-paginater"ip><"clear">'
				});
				// trigger click functions.
				jQuery(document).on('click', '.view-item-icon', function() {
					var id = this.getAttribute('data');
					that.restoreUser(id)
				});
			},
			createUser () {
				this.$router.push({path: 'employees/create'});
			},
			downloadZip(id) {
				let self = this; self.is_loading = true;
				let formData = new FormData();
				formData.append('id', id);
				axios.post('/api/users/zip-files', formData)
				.then(function (response) {
					if(response.data.error) {
						self.dangerModal =true;
						self.is_loading = false;
					} else {
						self.is_loading = false;
						if(response.data) {
							window.location = response.data;
						} else {
							self.$swal('Warning', 'User has no files.', 'warning');
						}
					}

				})
			}
		},
		mounted: function(){
			if(localStorage.getItem("api_token")) {
				this.getArchiveUsers();
			}
			this.is_admin = JSON.parse(localStorage.getItem('type'));
		}
	}
</script>