@media screen and (max-width:767px){
.mobile-view-logo {
	img {
	    max-width: 130px;
	}	
}
.modal-notification {
    transform: translate(140%, 0);
}
.c-header-fixed .col-1, .c-header-fixed .col-7, .c-header-fixed .col-4 {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0px 20px;
}
.c-header-fixed .row.w-100 {
    margin: 0px;
}
.c-header-nav {
    justify-content: center;
}
.custom-view .col-8, .custom-view .col-4, .dashboard-section .col-8, .dashboard-section .col-4 {
    flex: 0 0 100%;
    max-width: 100%;
}
.mobile-view-comments .col-1 {
    flex: 0 0 15%;
    max-width: 15%;
}
.mobile-view-comments .col-11 {
    flex: 0 0 85%;
    max-width: 85%;
}
.c-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.c-footer .ml-auto {
    margin-left: 0 !important;
}
.c-subheader ol {
    display: flex;
    justify-content: center;
    width: 100%;
}
.c-header .c-header-toggler {
    margin: 0 !important;
}
}