<template>
  	<CRow>
    	<CCol col="12" lg="12">
	      	<CCard >
	      		<CCardHeader class="mb-1 d-flex justify-content-between align-items-center">
		          	<h4 class="mb-0">Show Menu Element</h4> <CButton color="primary" @click="goBack">Back</CButton>
		        </CCardHeader>

		      	<CCardBody class="user-view-sec">
					<div class="user-info-section">
						<div class="inner-sec" v-if="menuelement.menu_name">
							<span>Menu:</span>
							<strong>{{ menuelement.menu_name }}</strong>
						</div>
						<div class="inner-sec" v-if="roles">
							<span>User Roles:</span>
							<strong>{{ roles }}</strong>
						</div>
						<div class="inner-sec" v-if="menuelement.name">
							<span>Name:</span>
							<strong>{{ menuelement.name }}</strong>
						</div>
						<div class="inner-sec" v-if="menuelement.slug">
							<span>Type:</span>
							<strong>{{ menuelement.slug }}</strong>
						</div>
						<div class="inner-sec" v-if="menuelement.href">
							<span>Href:</span>
							<strong>{{ menuelement.href }}</strong>
						</div>
						<div class="inner-sec" v-if="menuelement.parent_name">
							<span>Dropdown parent:</span>
							<strong>{{ menuelement.parent_name }}</strong>
						</div>
						<div class="inner-sec" v-if="menuelement.icon">
							<span>Icon:</span>
							<strong>{{ menuelement.icon }}</strong>
						</div>
					</div>
				</CCardBody>
	      	</CCard>
    	</CCol>
  	</CRow>
</template>

<script>
	import axios from 'axios'
	export default {
	  	name: 'CreateMenuElement',
	  	data: () => {
		    return {
		        roles: '',
		        menuroles: [],
		        menuelement: [],
		        message: '',
		        dismissSecs: 7,
		        dismissCountDown: 0,
		        showDismissibleAlert: false,
		    }
	  	},
	  	methods: {
		    goBack() {
		      	this.$router.go(-1)
		    },
		    getData() {
		      	let self = this;
		      	axios.get(  '/api/menu/element/show?token=' + localStorage.getItem("api_token") + '&id=' + self.$route.params.id )
		      	.then(function (response) {
			        self.menuelement = response.data.menuElement
			        self.menuroles = response.data.menuroles
			        self.roles = ''
			        for(let i = 0; i<self.menuroles.length; i++){
			          	if(i > 0){
			            	self.roles += ', '
			          	}
			          	self.roles += self.menuroles[i].role_name
			        }
		      	}).catch(function (error) {
			        console.log(error);
			        self.$router.push({ path: '/login' });
		      	});
		    }
	  	},
	  	mounted: function(){
	    	this.getData()
	  	}
	}
</script>