.texttip {
	position: absolute;
	pointer-events: none;
	background: #ffffff;
	transform: translate(-50%, -12px);
	transition: none;
	opacity: 0;	
	color: #f1f0ec;
}
.texttip--theme-default {
	border-radius: 7px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .55);
	transform: translate(-50%, -34px);
	border: 1px solid #6d6c6c;
	font-size: 10px;
}
.texttip--theme-default::after {
	content: '';
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translate(-50%, 0);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 6px 0 6px;
	border-color: #6d6c6c transparent transparent transparent;
}
.texttip--show {
	pointer-events: auto;
    transform: translate(-4%, -5px);
    opacity: 1;
    z-index: 99999999;
}
.texttip--theme-default.texttip--show {
	transition: opacity .2s, transform .2s;
}
.texttip__inner {
	position: relative;
	display: flex;
	overflow: hidden;
}
.texttip--theme-default .texttip__inner {
	border-radius: 7px;
}
.texttip__btn {
	position: relative;
	cursor: pointer;
	padding: .4em;
	transition: none;
	background: #ffffff;
}
.texttip--theme-default .texttip__btn {
	transform: translate(0, 1.5em);
}
.texttip--theme-default.texttip--show .texttip__btn {
	transition-property: transform;
	transition-duration: 200ms;
	transform: translate(0, 0);
}
.texttip__btn-cover {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.texttip__btn:last-child {
	margin: 0;
}
.texttip[data-textip-iconformat="url"] img {
	max-width: 15px;
	display: block;
	width: auto;
	height: 1.5em;
}
.texttip[data-textip-iconformat="svgsprite"] svg {
	display: block;
	height: 1.5em;
	width: 1.5em;
	pointer-events: none;
}
.texttip[data-textip-iconformat="font"] i {
	display: block;
	font-size: 1.5em;
}
/*# sourceMappingURL=TextTip.css.map*/