<template>
    <CRow>
        <CCol col="12" xl="12">
            <transition name="slide">
                <CCard>
                    <CCardBody>
                        <CCardHeader class="d-flex justify-content-between align-items-center">
				            <h4 class="mb-0">Leaves</h4>
				            <CButton color="primary" @click="createLeave()"><CIcon name="cil-plus"/>Apply</CButton>
				        </CCardHeader>
                        <CAlert :show.sync="dismissCountDown" color="success" fade>
			              	{{ message }}
			            </CAlert>
			            <CRow class="table-filters" v-if="permission">
			            	<CCol v-if="is_admin == 'true'">
			            		<select @change="filterData" class="form-control" v-model="filterUsers">
				            		<option value="">--Select User --</option>
				            		<option v-for="user in users" v-bind:value="user.id">{{ user.name }}</option>
				            	</select>
			            	</CCol>
			            	<CCol>
				            	<select @change="filterData" class="form-control" v-model="filterStatus">
				            		<option value="">--Select Status --</option>
				            		<option value="0">Pending</option>
            						<option value="1">Approve</option>
            						<option value="2">Reject</option>
				            	</select>
				            </CCol>	
				            <CCol>
								<date-picker 
									v-model="date_range"
									placeholder="Select Date Range"
									type="date"
									@input="input"
									@clear="clear"
								 	range
								 >								 	
								 </date-picker>
				            </CCol>			            				           
				            <CButton color="primary" @click="resetFilter()" class="float-right">Reset</CButton>
			            </CRow>
                        <div class="table-responsive cust-tesks-table mt-3">
			              	<table class="table table-manage-user table-striped" id="leaves_table">
			                	<thead>
			                        <tr>
			                            <th scope="col">Name</th>           
			                            <th scope="col">From</th>     
			                            <th scope="col">To</th>            
			                            <th scope="col">Status</th>           
			                            <th scope="col">Action</th>               
			                        </tr>
			                    </thead>
			                    <tbody></tbody>
			              	</table>
			            </div>
                    </CCardBody>  
                </CCard>
            </transition>
        </CCol>
    </CRow>
</template>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<script>
	import axios from 'axios';
	import moment from 'moment';
 	import DatePicker from 'vue2-datepicker';
  	import 'vue2-datepicker/index.css';
	export default {
	  	name: 'Tasks',
	  	data: () => {
		    return {
		    	current_user: '',
		    	date_format: '',
		    	filterPriority: '',
		    	filterUsers: '',
		    	filterStatus: '',
		    	message: '',
		        leaves: [],
		        users: [],
		        loader: '/img/loader.gif',
		        dismissSecs: 7,
      			dismissCountDown: 0,
      			is_admin: false,
      			permission: false,
		        showDismissibleAlert: false,
				date_range:null,			
		    }
	  	},
	  	components: { DatePicker },
	  	methods: {	  		
		    getUsers() {
		      	let that = this;
		      	axios.get(  '/api/leaves/user-list?token=' + localStorage.getItem("api_token")).then(function (response) {
		        	that.users = response.data.users;
		        	that.permission = response.data.permission;
		      	});
		    },
	      	getLeaves() {
	      		let that = this;
	      		var url = '/api/leaves?token='+localStorage.getItem("api_token");

	      		if(this.filterStatus) {
	      			url = url+'&status='+this.filterStatus;
	      		}
	      		if(this.filterUsers) {
	      			url = url+'&users='+this.filterUsers;
	      		}
	      		if(this.date_range != null && this.date_range.length){
	      			var _startDate = this.customFormatter(this.date_range[0]);
	      			var _endDate = this.customFormatter(this.date_range[1]);
	      			url = url+'&start_date='+_startDate+'&end_date='+_endDate;
	      		}
	      		jQuery('#leaves_table').DataTable({
		          	"lengthMenu": [ [10, 50, 100, -1], [10, 50, 100, "All"] ],
		          	processing: true,
		          	distroy: true,
		          	"order": [],
	              	serverSide: true,
	              	ajax: url,
	              	columns: [
	              		{ data: 'name' },
	              		{ data: 'from', name: 'from',
	                      	render:function (data, type, full, meta) {
	                      		return that.dateFormat(full.start_date);
	                      	}
	                    },
	                    { data: 'to', name: 'to',
	                      	render:function (data, type, full, meta) {
	                      		return that.dateFormat(full.end_date);
	                      	}
	                    },
	              		{ data: 'status', name: 'status',
	                      	render:function (data, type, full, meta) {
	                      		var _cls = '', _name = '';
	                      		if(full.status == '1') {
	                      			_cls = 'success'; _name = 'Approved';
	                      		} else if(full.status == '2') {
	                      			_cls = 'danger'; _name = 'Rejected';
	                      		} else {
	                      			_cls = 'warning'; _name = 'Pending';
	                      		}

	                      		var stat = '<span class="badge badge-'+_cls+'">'+_name+'</span>'
	                      		return stat;
	                      	}
	                    },
	                    { data: 'action', name: 'action',
	                      	render:function (data, type, full, meta) {
	                      		var btns = '';

	                      		var _inner = '<a data="'+full.id+'" class="view-item-icon dropdown-item"><img src="/img/view-icon.png" alt="view-icn"/> View</a>';
	                      		if(that.shouldDisplay(full)) {
			                        	_inner = _inner+'<a data="'+full.id+'" class="edit-item-icon dropdown-item text-primary"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" class="c-icon"><path d="M22.029 1.971c-0.754-0.754-1.795-1.22-2.944-1.22s-2.191 0.466-2.944 1.22l-12.773 12.773-2.258 6.657c-0.040 0.113-0.063 0.243-0.063 0.378 0 0.323 0.132 0.616 0.344 0.827l0.004 0.004c0.211 0.212 0.503 0.344 0.826 0.344h0c0.136-0 0.266-0.023 0.388-0.066l-0.008 0.003 6.657-2.258 12.773-12.773c0.754-0.754 1.22-1.795 1.22-2.944s-0.466-2.191-1.22-2.944v0zM8.443 19.325l-5.702 1.934 1.934-5.702 9.785-9.785 3.767 3.767zM20.969 6.799l-1.68 1.68-3.767-3.767 1.68-1.68c0.482-0.483 1.149-0.783 1.886-0.783 1.471 0 2.664 1.193 2.664 2.664 0 0.737-0.299 1.404-0.783 1.886l-0 0z"></path></svg> Edit</a>';
			                        }

	                      		btns = '<div class="custom-list-dropdown"><div class="dropdown"><p class="dropdown-toggle pointer text-center" id="listleaves'+full.id+'" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/img/drop-icon.svg" /></p><div class="dropdown-menu" aria-labelledby="listleaves'+full.id+'">'+_inner+'</div></div></div>';
	                      		return btns;
	                      	}, orderable: false, searchable: false
	                    },
	              	],
	              	"language":{
	                	"processing": '<div class="loader-image"><img src="'+that.loader+'"></div>',
	              	},
	              	"dom": '<"top table-search-flds d-flex align-items-center justify-content-between"fl>rt<"bottom table-paginater"ip><"clear">'
		        });

		        // trigger click functions.
		        jQuery(document).on('click', '.view-item-icon, .name-task', function() {
		          	var id = this.getAttribute('data');
		          	that.viewLeave(id)
		        });
		        jQuery(document).on('click', '.edit-item-icon', function() {
		          	var id = this.getAttribute('data');
		          	that.editLeave(id)
		        });
	      	},
	      	 customFormatter(date) {
		      	return moment(date).format('YYYY-MM-DD HH:mm:ss');
		    },
	      	createLeave() {
		      	this.$router.push({ path: '/leaves/create' });
		    },
	      	changeColor(value) {
	      		// change color of span.
	      		var color = "secondary";
	      		if(value == '1') { color = 'warning'; } else if(value == '2') { color = 'danger'; }

	      		return color;
	      	},
	      	shouldDisplay(item) {
	      		return this.is_admin == "true" || JSON.parse(this.current_user) == item.user;
	      	},
	      	viewLeave(id) {
	      		const link = `/leaves/${id}`;
		      	this.$router.push({path: link});
	      	},
	      	showAlert () {
		      	this.dismissCountDown = this.dismissSecs
		    },
	      	dateFormat($date) {
	      		// set date format.
	      		return moment($date).format(this.date_format);
	      	},
	      	filterData() {
	      		if(this.filterUsers || this.filterUsers == '') {
	      			localStorage.setItem('leavefilUser', this.filterUsers);
	      		}
	      		if(this.filterStatus || this.filterStatus == '') {
	      			localStorage.setItem('leavefilStatus', this.filterStatus);
	      		}

	      		jQuery('#leaves_table').DataTable().destroy();
	      		this.getLeaves();
	      	},
	      	resetFilter() {
	      		this.filterStatus = '', this.filterUsers = '';
	      		localStorage.removeItem('leavefilUser');
	      		localStorage.removeItem('leavefilStatus');
	      		localStorage.removeItem('start_date');
	      		localStorage.removeItem("end_date")
				this.date_range = null;
	      		jQuery('#leaves_table').DataTable().destroy();
	      		this.getLeaves();
	      	},
	      	editLeave(id) {
	      		// push url to edit task.
	      		var _id = btoa(id.toString());
	      		const link = `/leaves/${_id}/edit`;
      			this.$router.push({path: link});
	      	},
	      	input() {
	      		if(this.date_range[0] != null) {
		      		localStorage.setItem('start_date', this.date_range[0]);
		      		localStorage.setItem('end_date', this.date_range[1]);	      			
	      		} else {
	      			this.date_range = null;
	      		}
	      		jQuery('#leaves_table').DataTable().destroy();
	      		this.getLeaves()
	      	},	      	
	      	clear() {
	      		localStorage.removeItem('start_date');
	      		localStorage.removeItem('end_date');
	      		this.date_range = null;
	      		jQuery('#leaves_table').DataTable().destroy();
	      		this.getLeaves()
	      	}
	  	},
	  	mounted: function() {
	  		if(localStorage.getItem("leavefilStatus")) { this.filterStatus = localStorage.getItem("leavefilStatus"); }
	  		if(localStorage.getItem("leavefilUser")) { this.filterUsers = localStorage.getItem("leavefilUser"); }
	  		
	  		if(localStorage.getItem("start_date") && localStorage.getItem("start_date")) {
	  			var _startDate = moment(localStorage.getItem("start_date")).format('DD');
	  			var _startYear = moment(localStorage.getItem("start_date")).format('YYYY');
	  			var _startMonth = moment(localStorage.getItem("start_date")).format('MM');
	  			var _endDate = moment(localStorage.getItem("end_date")).format('DD');
	  			var _endYear = moment(localStorage.getItem("end_date")).format('YYYY');
	  			var _endMonth = moment(localStorage.getItem("end_date")).format('MM');

	  		   this.date_range = [new Date(_startYear, _startMonth-1, _startDate), new Date(_endYear, _endMonth-1, _endDate)];

	  		}
	  		this.is_admin = localStorage.getItem("type");
		    this.current_user = localStorage.getItem("user");
		    this.date_format = localStorage.getItem("date_format");
		    if(localStorage.getItem('api_token')) {
		      	this.getLeaves();
		      	this.getUsers();
		    }
	  	}
	}
</script>