<template>
  <CRow>
    <CCol col="12" lg="12">
      <CCard>
        <CCardHeader class="text-center">
          <h3>{{items.name}}</h3>
          <a class="pointer" @click="goToUrl(items.url)">{{ items.url }}</a>
          <div class="btn-back-drive d-flex justify-content-end">            
            <CButton v-if="shouldDisplay(items)" color="primary" class="mr-1" @click="goToEditProject(items.id)"><CIcon  name="cil-pencil"/><span> Edit</span></CButton>
            <CButton color="primary" class="mr-1" @click="goToTask(items.id)"><CIcon  name="cil-task"/><span> Tasks</span></CButton>
            <CButton color="primary" class="mr-1" @click="goToDrive(items.folder_id)"><CIcon  name="cil-folder"/><span> Drive</span></CButton>
            <CButton color="primary" class="" @click="goBack">Back</CButton>
          </div>
        </CCardHeader>
        <CCardBody>
          <CRow>
             <CCol col="12" lg="12">
              <h4>Access Detail</h4>
              <CRow> 
                 <CCol col="12" lg="12">
                <span class="edit-btn cursor-pointer float-right" @click="edit"><CIcon name="cil-pencil"/></span>
              </CCol>
                <CCol col="12" lg="12" class="edit-detail"  v-html="access_detail"></CCol>
                <CCol col="12" lg="12" class="hide target-detail">
                    <DxHtmlEditor v-model:value="access_detail" height="300px" ref="textEditor">
                        <DxToolbar>
                          <DxItem format-name="header"/>
                          <DxItem format-name="bold"/>
                          <DxItem format-name="italic"/>
                          <DxItem format-name="underline"/>
                          <DxItem format-name="separator"/>
                          <DxItem format-name="bulletList"/>
                          <DxItem format-name="link"/>
                          <DxItem format-name="blockquote"/>
                          <DxItem format-name="alignLeft"/>
                          <DxItem format-name="alignCenter"/>
                          <DxItem format-name="alignRight"/>
                          <DxItem format-name="alignJustify"/>
                          <DxItem format-name="separator"/>
                          <DxItem format-name="color"/>
                          <DxItem format-name="background"/>
                          <DxItem format-name="undo"/>
                          <DxItem format-name="redo"/>
                        </DxToolbar>
                    </DxHtmlEditor>
                    <CButton color="primary" class="float-right" @click="save">save</CButton>
                </CCol>
              </CRow>
             </CCol>
            </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import axios from 'axios'
import { DxHtmlEditor, DxToolbar, DxItem } from 'devextreme-vue/html-editor';
import { mapGetters, mapActions, mapState } from "vuex";
export default {
  name: 'Project',
  data: () => {
    return {
      access_detail: '',
      items: [],
      fields: [
        {key: 'key'},
        {key: 'value'},
      ],
    is_admin: false,
    current_user: '',
    }
  },
    components: {
       DxHtmlEditor, DxToolbar, DxItem
    },

  methods: {
    goBack() {
      this.$router.back()
    },
    edit() {
      let editClass = document.querySelector('.edit-detail');
      let targetClass = document.querySelector('.target-detail');
      if(editClass.classList.contains('hide')) {
        editClass.classList.remove('hide')
      } else {
        editClass.classList.add('hide')
      }
      if(targetClass.classList.contains('hide')) {
        targetClass.classList.remove('hide')
      } else {
        targetClass.classList.add('hide')
      }
    },  
    save() {
       let self = this;
       self.$store.dispatch('project/saveAccessDetail', {id : self.$route.params.id, access_detail: self.access_detail })
        .then(() => {
            self.access_detail = self.$store.state.project.access_detail;
            self.edit();
      });
    },
    goToTask(id) {
      var _id = btoa(id.toString());            
      const link = `/tasks?project=${_id}`;
      this.$router.push({path: link});
    },
    shouldDisplay(item) {
        this.current_user = localStorage.getItem("user");
        return this.is_admin == "true" || JSON.parse(this.current_user) == item.user_id;
     },
    goToDrive(id) {
      var _id = btoa(id.toString());            
      const link = `/drives/${_id}`;
      this.$router.push({path: link});
    },
    goToUrl(val) {
      var url = '';
      try {
        var url = new URL(val);
      } catch (_) {
        this.$swal('Warning', 'Url must be http/https.', 'warning');
      }

      if(url.protocol === "http:" || url.protocol === "https:") {
        window.open(url, '_blank');
      } else {
        this.$swal('Warning', 'Url must be http/https.', 'warning');
      }
    },
    goToEditProject(id) {           
      const link = `/projects/${id}/edit`;
      this.$router.push({path: link});
    }
  },
  mounted: function(){
    let self = this;
    axios.get(  '/api/projects/' + self.$route.params.id + '?token=' + localStorage.getItem("api_token"))
    .then(function (response) {
      self.items = response.data;
      self.access_detail = response.data.access_detail;
    }).catch(function (error) {
      console.log(error);
      self.$router.push({ path: '/login' });
    });
    this.is_admin = localStorage.getItem("type");
   
  }
}
</script>
