<template>
  <CRow>
    <CCol col="12" xl="12">
      <transition name="slide">
      <CCard>
         <CCardHeader class="d-flex justify-content-between align-items-center">
             <h4>Projects</h4>
            <CButton color="primary" @click="createProject()"><CIcon name="cil-plus"/> Create Project</CButton>
        </CCardHeader>
        <CCardBody>
          <CAlert
            :show.sync="dismissCountDown"
            color="primary"
            fade
          >
            {{ message }}
          </CAlert>
            <div class="table-responsive">
              <table class="table table-manage-user table-striped" id="project_table">
                <thead>
                        <tr>  
                            <th width="25" scope="col">Name</th>   
                            <th scope="col">Client</th>   
                            <th width="10" scope="col">Url</th>   
                            <th scope="col">Portal</th>     
                            <th scope="col">Profile</th>           
                            <th scope="col">Action</th>               
                        </tr>
                    </thead>
                    <tbody></tbody>
              </table>
            </div>
        </CCardBody>
      </CCard>
      </transition>
    </CCol>
    <div class="loader-image" v-if="is_loading">
      <img :src="loader">
    </div>
  </CRow>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Projects',
  data: () => {
    return {
      items: [],
      currentPage: 1,
      perPage: 5,
      totalRows: 0,
      is_admin: false,
      loader: '/img/loader.gif',
      is_loading: false,
      message: '',
      current_user: '',
      showMessage: false,
      dismissSecs: 5,
      dismissCountDown: 0,
      showDismissibleAlert: false
    }
  },
  paginationProps: {
    align: 'center',
    doubleArrows: false,
    previousButtonHtml: 'prev',
    nextButtonHtml: 'next'
  },
  methods: {
    projectLink (id) {
      return `/projects/${id.toString()}`
    },
    editLink (id) {
      return `/projects/${id.toString()}/edit`
    },
    showProject ( id ) {
      const projectLink = this.projectLink( id );
      this.$router.push({path: projectLink});
    },
    viewTask( id ) {
     let link = `/tasks?project=${btoa(id.toString())}`;
      this.$router.push({path: link});
    },
    editProject ( id ) {
      const editLink = this.editLink( id );
      this.$router.push({path: editLink});
    },
    shouldDisplay(item) {
      return this.is_admin == "true" || JSON.parse(this.current_user) == item.user_id;
    },
    deleteProject ( id ) {
      let self = this; 
      this.$swal.fire({
          title: 'Are you sure?',
          text: 'You can\'t revert your action',
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes',
          cancelButtonText: 'No',
          showCloseButton: true,
          showLoaderOnConfirm: true
      }).then((result) => {
        if(result.value) {
          self.is_loading = true;
          axios.post(  '/api/projects/' + id + '?token=' + localStorage.getItem("api_token"), {
            _method: 'DELETE'
          })
          .then(function (response) {
              self.is_loading = false;
              self.message = 'Successfully deleted Project.';
              self.showAlert();
              jQuery('#project_table').DataTable().destroy()
              self.getProjects();
          }).catch(function (error) {
            console.log(error);
            self.$router.push({ path: '/login' });
          });
        } else {
          this.$swal('Cancelled', 'Your project is still intact.', 'info');
        }
      });
    },
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert () {
      this.dismissCountDown = this.dismissSecs
    },
    getProjects (){
        let that = this;
        jQuery('#project_table').DataTable({
          "lengthMenu": [ [10, 50, 100, -1], [10, 50, 100, "All"] ],
          "order": [],
          processing: true,
              serverSide: true,
              ajax: '/api/projects?token=' + localStorage.getItem("api_token"),
              columns: [
                // {data: 'DT_RowIndex' },
                {data: 'name', name: 'name',
                  render:function (data, type, full, meta) {
                    return '<a data="'+full.id+'" class="view-item-icon">'+full.name+'</a>';
                  }
                },
                {data: 'client'},
                {data: 'url'},
                {data: 'portal'},                
                {data: 'profile'},
                {data: 'action', name: 'action',
                  render:function (data, type, full, meta) {
                    var btns = '';

                    if(full.deleted_at) {
                      btns = '<b>Trashed</b>';
                    } else {
                      var btn = '<a data="'+full.id+'" class="view-item-icon dropdown-item"><img src="/img/view-icon.png" alt="view-icn"/> View</a>';
                      
                      if(that.shouldDisplay(full)) {
                        btn = btn+'<a data="'+full.id+'" class="edit-item-icon dropdown-item text-primary"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" class="c-icon" data-v-6a0024b2=""><path d="M22.029 1.971c-0.754-0.754-1.795-1.22-2.944-1.22s-2.191 0.466-2.944 1.22l-12.773 12.773-2.258 6.657c-0.040 0.113-0.063 0.243-0.063 0.378 0 0.323 0.132 0.616 0.344 0.827l0.004 0.004c0.211 0.212 0.503 0.344 0.826 0.344h0c0.136-0 0.266-0.023 0.388-0.066l-0.008 0.003 6.657-2.258 12.773-12.773c0.754-0.754 1.22-1.795 1.22-2.944s-0.466-2.191-1.22-2.944v0zM8.443 19.325l-5.702 1.934 1.934-5.702 9.785-9.785 3.767 3.767zM20.969 6.799l-1.68 1.68-3.767-3.767 1.68-1.68c0.482-0.483 1.149-0.783 1.886-0.783 1.471 0 2.664 1.193 2.664 2.664 0 0.737-0.299 1.404-0.783 1.886l-0 0z"></path></svg> Edit</a>';

                        btn = btn+'<a data="'+full.id+'" class="delete-item-icon dropdown-item text-danger"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" class="c-icon" data-v-6a0024b2=""><path d="M4.5 22.125c-0 0.003-0 0.006-0 0.008 0 0.613 0.494 1.11 1.105 1.116h12.79c0.612-0.006 1.105-0.504 1.105-1.117 0-0.003-0-0.006-0-0.009v0-15h-15zM6 8.625h12v13.125h-12z"></path><path d="M7.875 10.125h1.5v9.375h-1.5v-9.375z"></path><path d="M11.25 10.125h1.5v9.375h-1.5v-9.375z"></path><path d="M14.625 10.125h1.5v9.375h-1.5v-9.375z"></path><path d="M15.375 4.125v-2.25c0-0.631-0.445-1.125-1.013-1.125h-4.725c-0.568 0-1.013 0.494-1.013 1.125v2.25h-5.625v1.5h18v-1.5zM10.125 2.25h3.75v1.875h-3.75z"></path></svg> Delete</a>';
                      }

                      btn = btn+'<a data="'+full.id+'" class="taskview-item-icon dropdown-item text-muted"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" class="c-icon" data-v-6a0024b2=""><path d="M7.504 8.139l-3.669 3.669 2.907 2.907-0.002 0.002 3.139 3.139 0.534 0.53 3.139-3.139 0.528-0.532 9.481-9.481-3.669-3.669-9.481 9.481zM21.439 5.233l-11.031 11.031-1.548-1.548 0.002-0.002-2.907-2.907 1.548-1.548 2.907 2.907 9.481-9.481z"></path><path d="M21 21.75h-18.75v-18.75h14.073l1.5-1.5h-17.073v21.75h21.75v-14.855l-1.5 1.5v11.855z"></path></svg> Tasks</a>';

                      btn = btn+'<a data="'+full.folder_id+'" class="drive-item-icon dropdown-item text-info"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" class="c-icon" data-v-6a0024b2=""><path d="M22.125 22.125h-20.25c-0.621-0.001-1.124-0.504-1.125-1.125v-18c0.001-0.621 0.504-1.124 1.125-1.125h8.75c0.001 0 0.001 0 0.002 0 0.465 0 0.863 0.282 1.034 0.685l0.003 0.007 0.961 2.308h9.5c0.621 0.001 1.124 0.504 1.125 1.125v15c-0.001 0.621-0.504 1.124-1.125 1.125h-0zM2.25 20.625h19.5v-14.25h-10.125l-1.25-3h-8.125z"></path></svg> Drive</a>';

                      btns = '<div class="custom-list-dropdown"><div class="dropdown"><p class="dropdown-toggle pointer text-center" id="listprojs'+full.id+'" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/img/drop-icon.svg" /></p><div class="dropdown-menu" aria-labelledby="listprojs'+full.id+'">'+btn+'</div></div></div>';
                    }

                    return btns;
                  }, orderable: false, searchable: false
                }
            ],
            "language":{
              "processing": '<div class="loader-image"><img src="'+that.loader+'"></div>',
            },
            "dom": '<"top table-search-flds d-flex align-items-center justify-content-between"fl>rt<"bottom table-paginater"ip><"clear">'
        });
        // trigger click functions.
        jQuery(document).on('click', '.view-item-icon', function() {
          var id = this.getAttribute('data');
          that.showProject(id)
        });
        jQuery(document).on('click', '.edit-item-icon', function() {
          var id = this.getAttribute('data');
          that.editProject(id)
        });
        jQuery(document).on('click', '.delete-item-icon', function() {
          var id = this.getAttribute('data');
          that.deleteProject(id)
        });
        jQuery(document).on('click', '.taskview-item-icon', function() {
          var id = this.getAttribute('data');
          that.viewTask(id)
        });
        jQuery(document).on('click', '.drive-item-icon', function() {
          var id = this.getAttribute('data');
          that.projectDrive(id)
        });
    },
    createProject () {
      this.$router.push({path: 'projects/create'});
    },
    projectDrive(driveId) {
      debugger;
      var _id = btoa(driveId.toString());           
      const link = `/drives/${_id}`;
      this.$router.push({path: link});
    }
  },
  mounted: function(){
    if(localStorage.getItem("api_token")) {
        this.getProjects();
    }
    this.is_admin = localStorage.getItem("type");
    this.current_user = localStorage.getItem("user");
  }
}
</script>
