<template>
  	<router-view></router-view>
</template>

<script>
	import moment from 'moment-timezone'
	import axios from 'axios'
	
	export default {
	  	name: 'App',
	  	data: () => {
	    	return {
	    		zone: 'Asia/Kolkata',
	    	}
	    },
	    methods: {
	    	setTimeZone() {
	    		moment.tz.setDefault(this.zone); 
	    	},
	    	
	    },
	  	mounted () {
	  		let that = this;
	  		axios.get('/api/timezone').then(function (response) {
	    		that.zone = response.data.timezone;
	    		that.setTimeZone();
	    	}).catch(function (error) {
	    		console.log('No timezone found');
	    	});
	  	}
	}
</script>


<style lang="scss">
  	// Import Main styles for this application
  	@import 'assets/scss/style';
</style>
