<template>
 	<div class="comment-field">
   		<DxHtmlEditor :mentions="mentions" v-model:value="value" height="200px" @change="changeValue">
			<DxToolbar>
		        <DxItem format-name="bold"/>
		        <DxItem format-name="link"/>
		        <DxItem format-name="image"/>
		        <DxItem format-name="blockquote"/>
		        <DxItem format-name="color"/>
		        <DxItem format-name="background"/>
		    </DxToolbar>
		</DxHtmlEditor>
 	</div>
</template>
 
<script>
	import axios from 'axios';
	import { DxHtmlEditor, DxToolbar, DxItem } from 'devextreme-vue/html-editor';

	export default {
		name: 'Comments',
	 	props: ['comment', 'mentions'],
	 	data: function () {
		  	return { 
		  		value: this.comment 
		  	}
		},
	 	components: {
	  		DxHtmlEditor, DxToolbar, DxItem
	  	},
	  	methods: {
		  	changeValue() {
		  		console.log('asdasd')
	            this.$emit('comment', this.value);
	        }
		},
	}
</script>