<template>
    <CRow>
   <CModal
      title="Daily Task Report"
      color="info"
      :show.sync="reportmodal"
      class="report-modal"
    >
          <CAlert
            :show.sync="dismissCountDown"
            color="primary"
            fade
          >
            ({{dismissCountDown}}) {{ message }}
          </CAlert>
          <validation-error v-if="errors.report" :error="errors.report[0]"  />
          <CTextarea type="text" label="Report" rows="10" placeholder="Enter Task Report...." v-model="userReport"></CTextarea>
          <template #footer>
            <CButton class="btn btn-primary" @click="save" >Submit</CButton>
            <CButton  @click="closeModal" color="danger">close</CButton>
          </template>
    </CModal>
     <div class="loader-image" v-if="is_loading">
      <img :src="loader">
    </div>
      </CRow>
</template>
<script>
import { mapGetters, mapActions, mapState } from "vuex";
import validationError from '@/views/errors/validation-errors.vue'
import axios from 'axios'
export default {
   name: 'ReportModal',
  data () {
    return {
      message: '',
      dismissSecs: 4,
      loader: '/img/loader.gif',
      dismissCountDown: 0,
      is_loading: false,
      showDismissibleAlert: false
    }
  },
  components: {
        validationError
      },
  computed: {
     reportmodal: {
      get () {
        return this.$store.state.reportmodal
      },
      set () {
        this.$store.commit('setReportModal', false)
      }
    },
     userReport: {
      get () {
        return this.$store.state.userReport
      },
      set (val) {
        this.$store.commit('setUserReport', val)
      }
    },
     ...mapGetters(["errors"])
   },
   methods: { 
    validationError()
    {
      let self = this;

      let error={};

      if(!self.userReport){error.report=[]; error.report[0]="This Field is required!"; }

      if(Object.keys(error).length){
        self.$store.commit("setErrors", error);
        return true;
      }

      self.$store.commit("setErrors", {});
    },
    save() {
      var self=this;
       if(self.validationError()) {
          return
        } 
        self.is_loading = true;  
       axios.post('/api/report/save',{report: self.userReport})
        .then(function (response) {
          self.is_loading = false; 
          self.$store.commit('setReportModal', false) 
        })

    },
    closeModal() {
        var self=this;
        self.$store.commit('setReportModal', false)
    }
   },
    mounted() {
      var self=this;
       axios.get('/api/report')
        .then(function (response) {
          self.$store.commit('setUserReport', response.data.report);         
          self.is_loading = false;  
        })
  }

}
</script>