<template>
      <CRow>
    <CCol col="12" xl="12" id="right-sidebar">
      <div class="notification-backdrop" @click="closeModal" v-if="activeModal"></div>
     <div class="modal-notification" v-bind:class="{ active: activeModal==true }">
      <div class="close-notification" @click="closeModal">
       <CButtonClose  class="text-black"/> <span>Notification</span>
     </div>
     <div class="notification-desc">
      <div class="task-notification">
        <p><CIcon name="cil-bell"/></i> Task Notifications</p>
      </div>
      <div v-if="notifcationItems.length > 0" >
        <div class="outer-task-notific" v-for="item in notifcationItems" >
          <CRow>
            <CCol col="1" xl="1">
                  <div class="small-rounded-img">
                      <img v-if="item.profile" :src="item.profile" >
                      <img v-else :src="avtar" >
                    </div>
                </CCol>
                 <CCol col="11" xl="11">
                  <div class="chat-notification">
                    <span class="notification-item-name">{{item.user_name}}</span>                  
                      <span class="notification-item-date">{{ dateFormat(item.created_at) }}</span>
                      <p v-html="item.text"></p>
                    </div>
                </CCol>
          </CRow>
        </div>
      </div>
    <div v-else class="no-notification"> <h4>Their are no notifications!</h4></div>
    <div class="more-notification-btn text-center pt-3 pb-3">
      <CButton v-if="viewMore == false" @click="getNotifications" color="secondary"><span v-if="loading">Loading More...<img :src="loader" class="img-loader" /></span><span v-else>More Notification</span></CButton>
    </div>
     </div>
     </div>
  </CCol>
 </CRow>
</template>
<script>
import { mapGetters, mapActions, mapState } from "vuex";
import moment from 'moment';
import axios from 'axios'
export default {
   name: 'RightNotificationModal',
  data () {
    return {
       avtar: '/img/user-avtar.jpg',
      loader: '/img/loader.gif',
      loading: false,
      viewMore: false,
      countVal:0,
      date_format:'',
      created_on: '',
      activeModal:''
    }
  },
  computed: {
    ...mapGetters(["successModal","notifcationItems"])
  },
   methods: {
    closeModal(){
      var self=this;
        self.activeModal = false
       setTimeout(function() {      
        self.$store.commit('setSuccessModal', false)
      }, 200);
       
    },
    dateFormat(value) {
        value = moment(value).format(this.date_format);     
      return value;
    },
    //  openModal(task_id){
    //   var self=this;
    //    self.$store.commit('setTaskModal', true)
    //    var _id = btoa(task_id.toString());
    //    self.$router.push({ path: `/tasks/${_id}` }, () => {});
    //    location.reload();
    //      setTimeout(function() {  
    //            self.$store.commit('setActiveModal', true)
    //        }, 350);
    // },
     openModal(task_id){
      var self=this;
      // this.$parent.rightEmitModal(task_id)
       var sameRoute = false; 
       var _id = btoa(task_id.toString());
       if(self.$route.params.id == _id) {
        this.$router.push({ path: `/dashboard` });
        sameRoute=true;
       } if(sameRoute) {
          setTimeout(function() {
            self.$store.commit('setTaskModal', true)
            self.$router.push({ path: `/tasks/${_id}` });
          }, 350);
       } else {
          self.$store.commit('setTaskModal', true)
          self.$router.push({ path: `/tasks/${_id}` });
       }
      
       
      //   setTimeout(function() {
      //   jQuery( document ).ready(function() {         
      //     jQuery('.wrapper-comment').each(function() {
      //       var array = [];
      //       jQuery(this).find('.custom-showmore-div img').each(function( index, value ) {
      //          array.push(value.src);
      //       });
      //       jQuery(this).find('.show-img-full img').each(function( index, value ) {
      //         if(array.indexOf(value.src) >= 0) {
      //           jQuery(this).addClass('hover-active')
      //         }
      //       });
      //     })

          
      // });
      // }, 2000);
        // this.addHoverClass();
    },
    getNotifications() {
        let self = this;
        self.loading = true;   
        let _url = '/api/notifications?countVal='+self.countVal;
        if(self.lastId) {
          _url +='?countVal='+self.countVal;
        }
        axios.get(_url)
        .then(function (response) { 
          self.$store.commit("settotalInboxNotification",  response.data.chatCount);
          self.$store.commit("setPushMoreNotification",  response.data);
          self.$store.commit("setFeedNotifcationCount",  response.data.feedscount);
           var span_div = document.createElement('span');
           span_div.className = 'feed_countt';
           span_div.innerHTML = response.data.feedscount;
            if(document.getElementsByClassName("feed_countt").length > 0){
               document.getElementsByClassName("feed_countt")[0].remove();
            }
           if(response.data.feedscount != 0){
             
             document.getElementsByClassName("c-sidebar-nav-item")[0].childNodes[0].appendChild(span_div);
           }
          self.loading = false;
          let _count = response.data.totalCount;
          if(_count == self.countVal || _count < self.countVal) {
             self.viewMore = true;
          }
          self.$store.commit("setUncheckNotification",  response.data.unCheck);
          self.countVal = self.countVal+15;
        })
        console.log(this)
       
    },
     addHoverClass() {
        setTimeout(function() {
        jQuery( document ).ready(function() {               
            jQuery('.description-sec').each(function() {
                jQuery(this).find('.show-img-full img').each(function( index, value ) {
                     array.push(value.src);
                });
                jQuery(this).find('.main-files-listing img').each(function( index, value ) {
                    if(array.indexOf(value.src) >= 0) {
                        jQuery(this).addClass('hover-active')
                    }
                });
            })

            
        });
        }, 2000);
    },
     redirectProject(_id) {
      var self=this;
      self.$router.push({ path: '/projects/'+_id });
      self.$store.commit('setTaskModal', false);
      self.$store.commit('setSuccessModal', false)
    },
    redirectLeave(id) {
       var self=this;
      self.$router.push({ path: '/leaves/'+id });
      self.$store.commit('setTaskModal', false);
      self.$store.commit('setSuccessModal', false)
    }
   },
    mounted() {
      var self=this;
    this.getNotifications();
    this.date_format = localStorage.getItem('date_format');
    jQuery(document).on('click', '.notification-leave', function() {
      self.redirectLeave(jQuery(this).attr('data-id'))
    })
    jQuery(document).on('click', '.notification-task', function(e) {
      self.openModal(jQuery(this).attr('data-id'))
    })
    jQuery(document).on('click', '.notification-project', function() {
      self.redirectProject(jQuery(this).attr('data-id'))
    })
    if(self.successModal) {
      setTimeout(function() {self.activeModal = true}, 100);
      
    }

  }

}
</script>