<template>
  	<CRow>
    	<CCol col="12" lg="12">
    		<div class="task-backdrop" @click="closeModal" v-if="taskModal"></div>
    		<div class="modal-notification" v-bind:class="{ active: taskModal==true }">
    			<div class="close-notification"  @click="closeModal" >
		       		<CButtonClose class="text-black"/> <span>Task</span>
		     	</div>
	    		<CCardHeader class="task-heading mb-1">
		          	<h3 class="d-flex justify-content-between align-items-center" v-if="name">
	    				{{ this.name }} 
	    				<div class="btns-header">
	    					<CButton color="secondary" class="mr-1" @click="editTask" v-if="shouldDisplayModelEdit()"><CIcon name="cil-pencil"/> Edit</CButton>
	    					<a v-if="folderId" class="task-view-folder btn btn-secondary" @click="goToDrive"><CIcon  name="cil-folder"/><span>Drive</span></a>
	    				</div>
	    			</h3>
		        </CCardHeader>

		        <!-- main body section -->
		        <div class="notification-desc">
			     	<div class="task-notification">
			     		<p><CIcon name="cil-bell"/> Task</p>
			     	</div>
					<div class="outer-task-notific">
				        <CRow class="custom-view remove-extrarow-padding ">
			    			<CCol col="8" class="my-quote-region">
			    				<CCard>
			        				<CCardBody class="left-side-section">
			        					<div class="description-section">
											<div class="description-heading-sec">
												<p>Task: #{{ taskNumber }} {{ taskStatus }} 
													<CBadge v-if="priority == 0 && priority !== ''" class="float-right" color="secondary">Low</CBadge> 
													<CBadge v-if="priority == 1" class="float-right" color="warning">Medium</CBadge>
													<CBadge v-if="priority == 2" class="float-right" color="danger">High</CBadge>
												</p>
											</div>

											<div class="description-text mt-3 mb-5 images make-quotations cust-vals img-100 show-img-full" data="0" v-viewer>
												<p v-html="description"></p>
											</div>

											<div class="main-files-listing pt-3 pb-3 mb-5" v-if="taskFiles">
					          					<div class="images-viewer" v-if="JSON.parse(taskFiles).length > 0">
											        <!-- component -->
											        <div class="view-main-file" v-for="file in JSON.parse(taskFiles)">
											        	<a :href="file" download target="_blank" v-if="!isValidImageURL(file)">{{ getValidModelName(file) }}</a>
											        </div>
											        <viewer class="show-img-full">
											        	<div v-for="file in JSON.parse(taskFiles)">
											            	<img v-if="isValidImageURL(file)" :src="file" :key="file">
											            </div>
											        </viewer>
											    </div>
					          				</div>
					          				<div class="description-footer" v-if="project">
					          					<p>This task is in group (project): <a @click="sendProjectUrl(projectUrl)" target="_blank">{{ project.client }} - {{ project.url }} - {{ project.profile }}</a></p>
					          				</div>
										</div>
										<div class="comment-section mt-3">
					          				<div class="row">
					          					<div class="comment-section-list col-12">
					          						<div class="pervious-comm-btn">
					          							<a @click="viewMore" v-if="newCommentCt > 0">Previous Comment ({{ newCommentCt }})</a>
				          								<a v-else>Previous Comment (0)</a>
				          								<div class="pervious-comm_loader" v-if="loading"><img :src="loader" /></div>
					          						</div>
				          							
				          							<div class="comment-section-values comment-quotations cust-vals" data="1" v-if="newCommentList.length > 0">
				          								<!-- <div class="comment-section-values comment-quotations cust-vals" data="1" v-if="newCommentList.length > 0"> -->
				          								<div class="row  pt-3" v-for="(comments, k) in newCommentList.slice().reverse()">
					          								<div class="col-1">
					          									<div class="small-rounded-img">
									          						<img :src="comments.user_profile" v-if="comments.user_profile">
									          						<img :src="avtar" v-else>
									          					</div>
					          								</div>
					          								<div class="col-11">
					          									<div class="wrapper-comment">
						          									<b>{{ comments.user_name }} <span class="comment-date">{{ dateModelValue(comments.created_at) }}</span></b>
						          									<div :id="'comment_loader_model'+comments.id" class="comment-section-detail comment-section-detail-model images" :data="comments.id" v-viewer>
						          										<p v-html="JSON.parse(comments.comment)"></p>
						          									</div>
							          								<!-- show images -->
							          								<div class="images-viewer">
																        <!-- component -->
																        <viewer class="show-img-full" :images="JSON.parse(comments.files)">
																        	<div v-for="src in JSON.parse(comments.files)">
																            	<img v-if="isValidImageURL(src)" :src="src" :key="src">
																            	<a :href="src" download target="_blank" v-else>{{ getValidModelName(src) }}</a>
																            </div>
																        </viewer>
																    </div>
						          								</div>
						          								<div class="wrapper-opt">
						          									<!-- <a>Like</a>
						          									<a>Reply</a> -->
							          								<CDropdown toggler-text="More" class="custom-menu-btn" v-if="shouldDisplay(comments)">
							          									<CDropdownItem @click="makeEdit(comments)"><CIcon name="cil-pencil"/> Edit</CDropdownItem>
							          									<CDropdownItem @click="deleteComment(comments.id)"><CIcon name="cil-trash"/> Delete</CDropdownItem>
							          								</CDropdown>
							          							</div>
					          								</div>
				          								</div>
				          							<!-- </div> -->
				          							</div>
				          						</div>
					          				</div>
					          				<div class="row mt-3">
					          					<div class="col-1">
					          						<div class="small-rounded-img">
						          						<img :src="current.profile" v-if="current.profile">
						          						<img :src="avtar" v-else>
						          					</div>
					          					</div>
					          					<div class="col-11">
					          						<div class="comment-section-field">
						          						<CAlert :show.sync="dismissCountDown" v-bind:color="(alertClass)?'success':'danger'" fade>
											            	{{ message }}
											          	</CAlert>
											          	<div class="editor-module task-editor-module">
							          						<DxHtmlEditor :mentions="mentions" v-model:value="editorC" height="200px" ref="textEditor">
							          							<DxToolbar>
															        <DxItem format-name="bold"/>
															        <DxItem format-name="link"/>
															        <DxItem format-name="image"/>
															        <DxItem format-name="blockquote"/>
															    </DxToolbar>
							          						</DxHtmlEditor>
							          						<div class="editor-icons">
							          							<a v-on:click="showDropbox($event)" class="attachment-img-ico"><img src="/img/attachment.png" alt="" /></a>
							          							<a v-on:click="selectOption($event, 'bold')" class="bold-img-ico"><img src="/img/bold.png" alt="" /></a>
							          							<a v-on:click="selectOption($event, 'link')"><CIcon name="cil-link"/></a>
							          							<a v-on:click="selectOption($event, 'blockquote')" class="quoted-img-ico"><img src="/img/quote.png" alt="" /></a>
							          						</div>
							          						<div class="files-names">
							          							<p class="d-flex justify-content-between" v-for="name in edit_name">{{ name.name }} <span class="float-right" @click="removeIndex(name.file)"><CIcon name="cil-x"/></span></p>
							          						</div>
							          						<vue-dropzone
							          							v-if="is_shown"
														      	ref="imgDropZone"
														      	id="customdropzone"
														      	:options="dropzoneOptions"
														      	@vdropzone-complete="afterComplete"
														      	v-on:vdropzone-removed-file="removeThisFile"
														    ></vue-dropzone>
						          						</div>

						          						<CButton v-if="comment_edit" @click="editComment" color="primary">Edit</CButton>
						          						<CButton v-else @click="addCommnet" color="primary">Send</CButton>
						          						<CButton @click="clearField" color="secondary">Cancel</CButton>
						          					</div>
					          					</div>
					          				</div>
				          				</div>
			        				</CCardBody>
			        			</CCard>
			        		</CCol>
			        		<CCol col="4">
			    				<CCard>
			        				<CCardBody class="right-side-section">
			        					<div class="info-section">
					          				<div class="info-header">
					          					<p><b>{{ taskStatus }}</b> since {{ dateFormat(taskDate) }}</p>
					          				</div>

					          				<div class="info-overdue" v-if="dateDifference < 0">
				          						<p><a class="error-msg-ico"><img src="/img/error-red.png" /> </a> Task is overdue!</p>
				          					</div>

				          					<div class="info-div">	
						          				<div class="left-sec">
						          					Created On
						          				</div>
						          				<div class="right-sec">{{ dateFormat(taskDate) }}</div>
						          			</div>

						          			<div class="info-div assign-section">
							          			<p>Created By</p>
							          			<div class="left-sec">
							          				<div class="small-rounded-img">
							          					<img :src="userPic" v-if="userPic">
							          					<img :src="avtar" v-else>
						          					</div>
							          			</div>

							          			<div class="right-sec">	
							          				{{ userName }}
							          				<span v-if="userRole == 'admin'">Director</span>
							          				<span v-else>{{ userRole }}</span>
							          			</div>
						          			</div>

						          			<div class="info-div assign-section">
							          			<p>Responsible person</p>
							          			<div class="left-sec">
						          					<div class="small-rounded-img">				
						          						<img :src="assigneeProfile" v-if="assigneeProfile">
				          								<img :src="avtar" v-else>
							          				</div>
							          			</div>
							          			<div class="right-sec">
							          				{{ this.assigneeName }}
							          				<span v-if="assigneeRole == 'admin'">Director</span>
							          				<span v-else>{{ this.assigneeRole }}</span>
							          			</div>
						          			</div>

						          			<div class="info-div assign-section" v-if="(taskParticipants.length > 0)">
							          			<p>Participants</p>
							          			<div class="inn-sec" v-for="(participant, i) in taskParticipants">	
							          				<div class="left-sec">
							          					<div class="small-rounded-img">
								          					<img :src="participant.profile" v-if="participant.profile">
								          					<img :src="avtar" v-else>
								          				</div>
							          				</div>
							          				<div class="right-sec">
							          					{{ participant.name }}
							          					<span v-if="participant.role == 'admin'">Director</span>
							          					<span v-else>{{ participant.role }}</span>
							          				</div>
							          			</div>
						          			</div>

						          			<div class="info-div assign-section" v-if="(taskObservers.length > 0)">
							          			<p>Observers</p>
							          			<div class="inn-sec" v-for="(observer, j) in taskObservers">	
							          				<div class="left-sec">
							          					<div class="small-rounded-img">
								          					<img :src="observer.profile" v-if="observer.profile">
								          					<img :src="avtar" v-else>
								          				</div>
							          				</div>
							          				<div class="right-sec">
							          					{{ observer.name }}
							          					<span v-if="observer.role == 'admin'">Director</span>
							          					<span v-else>{{ observer.role }}</span>
							          				</div>
							          			</div>
						          			</div>
					          			</div>
			        				</CCardBody>
			        			</CCard>
			        		</CCol>
			        	</CRow>
			        </div>
			    </div>
	        </div>
        </CCol>
        <div class="loader-image" v-if="is_loading">
			<img :src="loader">
		</div>
    </CRow>
</template>

<script>
	import { mapGetters, mapActions, mapState } from "vuex";
	import axios from 'axios'
	import moment from 'moment'
	import Vue from 'vue'
	import { DxHtmlEditor, DxToolbar, DxItem } from 'devextreme-vue/html-editor'
	import { install } from '@github/quote-selection'

	import vue2Dropzone from "vue2-dropzone"
	import "vue2-dropzone/dist/vue2Dropzone.min.css"
	import 'viewerjs/dist/viewer.css'
	let uuid = require("uuid")

	import Viewer from 'v-viewer'
	Vue.use(Viewer);
	export default {
		props: [
			'priority',
			'project',
			'taskNumber',
			'description',
			'taskStatus',
			'taskObservers',
			'taskParticipants',
			'avtar',
			'taskDate',
			'taskId',
			'name',
			'userPic',
			'userName',
			'userRole',
			'assigneeName',
			'assigneeRole',
			'assigneeProfile',
			'commentList',
			'commentCt',
			'timeFor',
			'mentions',
			'current',
			'dateDifference',
			'folderId',
			'taskFiles',
			'projectUrl',
			'taskUser',
		],
	   	name: 'RightTaskModal',
	  	data () {
		    return {
		    	is_shown: false,
		    	is_admin: false,
		    	editable_id: '',
		    	comment_edit: false,
		    	logged: '',
		    	loader: '/img/loader.gif',
		    	comment:'',
		    	editorC:'',
		    	edit_name:[],
		    	comment_edit: false,
		    	loading: false,
		    	dismissCountDown: 0,
		    	paginator: 1,
		    	alertClass: false,
		    	edit_files: [],
		    	files:"",
		    	images: [],
		    	is_loading: false,
		    	folder_id:'',
		    	date_format:'',
		    	message:'',
		    	quoteText:'',
				quoteTextTime:0,
		    	newCommentList:'',
		        newCommentCt:'',
		    	dropzoneOptions: {
				        url: "https://httpbin.org/post",
				        thumbnailWidth: 150,
				        thumbnailHeight: 150,
				        addRemoveLinks: true,
				        dictDefaultMessage: `<p class='text-default dropbox-def-txt'><img src="/img/cloud-download.png" /> Upload Images or Files Here.</p>`
			      	},
		    }
	  	},
	  	components: {
	  		DxHtmlEditor, DxToolbar, DxItem, vueDropzone: vue2Dropzone
	  	},
	  	computed: {
	    	...mapGetters(["taskModal"])
	  	},
	   	watch: {
		    commentList(newVal, oldVal) {
		        this.newCommentList = newVal
		    },
		    commentCt(newVal, oldVal) {
		        this.newCommentCt = newVal
		    }
	    },
	   	methods: {
	   		showDropbox(e) {
	      		if(this.is_shown) {
	      			this.is_shown = false;
	      		} else {
	      			this.is_shown = true;
	      		}
	      	},
	   	 	makeEdit(comment) {
		    	this.editable_id = comment.id;
		    	this.comment_edit = true;
		    	this.editorC = JSON.parse(comment.comment);
		    	this.edit_files = []; this.edit_name = [];
		    	if(comment.files) {
		    		if(JSON.parse(comment.files)) {
			    		this.edit_files = JSON.parse(comment.files);
			    		for(var a = 0; a < this.edit_files.length; a++) {
			    			var val = this.edit_files[a].split('/'), obj = {}; 
			    			obj.name = val[val.length - 1]; obj.file = this.edit_files[a];
			    			this.edit_name.push(obj);
			    		}
			    	}
		    	}
		    },
		    shouldDisplay(item) {		     	
		     	var isAdmin = JSON.parse(localStorage.getItem('type'));
	      		return isAdmin || JSON.parse(this.logged) == item.user;
	      	},
	      	async showModelMoreLess() {
		    	setTimeout(function() {
			    	var mdiv = document.getElementsByClassName('comment-section-detail-model');
			    	for(var i = 0; i < mdiv.length; i++) {
			    		var id = '#comment_loader_model'+mdiv[i].getAttribute('data');

				    	jQuery(id).showMore({
						    minheight: 150,
						    buttontxtmore: '<p class="more-ico"><span><img src="/images/down-ico.png" /></span></p>',
						    buttontxtless: '<p class="less-ico"><span><img src="/images/down-ico.png" /></span></p>',
						    animationspeed: 750
						});
				    }
			    }, 400);
		    },
		    deleteComment(id) {
		    	let that = this;
	      		this.$swal({
		          	title: 'Are you sure?',
		          	text: 'You can\'t revert your action',
		          	type: 'warning',
		          	showCancelButton: true,
		          	confirmButtonText: 'Yes',
		          	cancelButtonText: 'No',
		          	showCloseButton: true,
		          	showLoaderOnConfirm: true
		        }).then((result) => {
		        	if(result.value) {
		        		var formdata = new FormData();
				    	formdata.append('component_id', that.taskId);
				    	formdata.append('id', id);
				    	formdata.append('component', 'task');
				    	formdata.append('pager', that.paginator);

		        		axios.post('/api/comment/delete?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
				    		that.newCommentList = response.data.comments;
				    		that.newCommentCt = response.data.count;
				    		that.showModelMoreLess();
				    		that.addHoverClass();
		    				that.addHoverClassChange()
				    	}).catch(function (error) {
				    		console.log("Unable to delete values.")
				    	});
		        	} else {
		            	this.$swal('Cancelled', 'Your comment is still intact.', 'info');
		          	}
		        });
		    },
		    closeModal(){
		      var self=this;
		       self.$store.commit('setTaskModal', false)
		    },
		    addCommnet() {
		    	let that = this;
		    	var formdata = new FormData();

		    	var mentions = this.parseVal();
		    	formdata.append('component_id', this.taskId);
		    	formdata.append('component', 'task');
		    	formdata.append('comment', JSON.stringify(this.editorC));
		    	formdata.append('mentioned', mentions);
		    	formdata.append('pager', this.paginator);
		    	if(this.images) {
			    	for( var i = 0; i < this.images.length; i++ ) {
				       	let file = this.images[i];
				       	formdata.append('files[' + i + ']', file);
				    }
				}

			    if(this.editorC) {
			    	axios.post('/api/comment/add?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
			    		that.editorC = "";
			    		that.newCommentList = response.data.comments;
			    		that.newCommentCt = response.data.count;
			    		that.images = [];
			    		that.is_shown = false;
			    		that.showModelMoreLess();
			    		that.$refs.imgDropZone.removeAllFiles();
			    		that.alertClass = true;
			    		that.message = response.data.message;
			    		that.showAlert(); 
			    		that.addHoverClass();
		    			that.addHoverClassChange()
			    	}).catch(function (error) {
			    		// self.$router.push({ path: '/login' });
			    	});
			    } else {
			    	this.message = 'You need to add comment.';
			    	this.showAlert();
			    }
		    },
		    editComment() {
		    	let that = this;
		    	var formdata = new FormData();
		    	var mentions = this.parseVal();
		    	formdata.append('component_id', this.taskId);
		    	formdata.append('component', 'task');
		    	formdata.append('id', this.editable_id);
		    	formdata.append('comment', JSON.stringify(this.editorC));
		    	formdata.append('mentioned', mentions);
		    	formdata.append('pager', this.paginator);
		    	if(this.edit_files.length) {
		    		for( var i = 0; i < this.edit_files.length; i++ ) {
				       	var file = this.edit_files[i];
				       	formdata.append('old_files[' + i + ']', file);
			    	}
		    	}
		    	if(this.images.length) {
		    		for( var i = 0; i < this.images.length; i++ ) {
			       	let file = this.images[i];
			       	formdata.append('files[' + i + ']', file);
			    	}
		    	}

			    if(this.editorC) {
			    	axios.post('/api/comment/update?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
			    		that.addHoverClass();
		    			that.addHoverClassChange()
			    		that.editorC = "";
			    		that.editable_id = '';
			    		that.comment_edit = false;
			    		that.is_shown = false;
			    		that.newCommentList = response.data.comments;
			    		that.newCommentCt = response.data.count;
			    		that.edit_files = [];
			    		that.showModelMoreLess();
			    		that.edit_name = [];
			    		that.images = [];
				    	that.$refs.imgDropZone.removeAllFiles();
			    		that.alertClass = true;
			    		that.message = response.data.message;
			    		that.showAlert();
			    		
			    	}).catch(function (error) {
			    		console.log('Unable to comment')
			    	});
			    } else {
			    	this.message = 'You need to add comment.';
			    	this.showAlert();
			    }
		    },
		    clearField() {
		    	this.editorC = "";
		    	this.editable_id = '';
		    	this.comment_edit = false;
		    },
		    removeIndex(file) {
	      		var that = this;
	      		this.edit_files.forEach(function(item, i) { 
		    		if(item === file) {
		    			that.edit_files.splice(i, 1);
		    			for(var a = 0; a < that.edit_name.length; a++) {
		    				if(that.edit_name[a].file === file) {
			    				that.edit_name.splice(a, 1);
			    			}
		    			}

		    		}
		    	});
	      	},
	      	selectOption(e, type) {
	      		var div = document.querySelector('.task-editor-module'), clas = '.dx-'+type+'-format';
	      		div.querySelector(clas).click();
	      	},
	      	showAlert () {
		      	this.dismissCountDown = this.dismissSecs
		    },
		    dateFormat($date) {
	  			var value = "";
	  			if($date) {
		      		value = moment($date).format(this.date_format);
		      	}
		      	return value;
	      	},
	      	dateModelValue(value) {
	      		var date = moment(value).format('MMMM D, Y'), val = '', time = moment(value).format(this.timeFor);
	      		if(moment().diff(date, 'days') === 0) {
	      			val = 'Today, '+time;
	      		} else if(moment().diff(date, 'days') === 1) {
	      			val = 'Yesturday, '+time;
	      		} else {
	      			val = moment(value).format(this.date_format);
	      		}

	      		return val;
	      	},
	      	getValidModelName(file) {
				if(typeof file == 'string') {
					var val = file.split('/');
					return val.slice(-1).pop();
				}
			},
			isValidImageURL(str){
			    if ( typeof str !== 'string' ) return false;
			    return !!str.match(/\w+\.(jpg|jpeg|gif|png|tiff|bmp)$/gi);
			},
			viewMore() {
		    	let that = this; 
		    	this.loading = true;
		    	var formdata = new FormData();
		    	this.paginator = this.paginator + 1;
		    	formdata.append('component_id', this.taskId);
		    	formdata.append('component', 'task');
		    	formdata.append('pager', this.paginator);

		    	axios.post('/api/comment/more?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
					that.addHoverClass();
					that.addHoverClassChange()
		    		that.newCommentList = response.data.comments;
		    		that.newCommentCt = response.data.count;
		    		that.showModelMoreLess();
		    		that.loading = false;
		    	}).catch(function (error) {
		    		that.paginator = that.paginator - 1;
		    		console.log("Unable to load more values.");
		    		that.loading = false;
		    	});
		    },
		    parseVal() {
	      		const parser = new DOMParser();
	      		var htmlDoc = parser.parseFromString(this.editorC, 'text/html');
	      		var value = htmlDoc.getElementsByClassName('dx-mention');
	      		var data = [];
	      		for(var i = 0; i < value.length; i++) {
	      			data[i] = value[i].getAttribute('data-id');
	      		}
	      		return data;
	      	},
	      	selectModelTriggers(e) {
		    	let text = window.getSelection().toString();
		    	if(text) {
		    		var _class = ".make-quotations";
		    		var _a = e.target.closest('.cust-vals');
		    		if(_a !== 'undefined' && _a !== null) {
		    			if(_a.getAttribute('data') == '1') {
		    				_class = ".comment-quotations";
		    			}
		    		}

		    		if(e.target.closest(_class) !== null) {
			    		this.quoteText = text;
			    		this.quoteTextTime = 0;
			    		let tooltip = new TextTip({
						    scope: _class,
						    iconFormat: 'font',
						    buttons: [
						        { title: 'quote', icon: "/img/quote.png" , callback: this.makeModelQuote }
						    ]
						});
			    	}
		    	}
		    },
		    makeModelQuote() {
		    	if(this.quoteTextTime == 0) {
			    	var doc = '<blockquote>'+this.quoteText+'</blockquote><div><br /></div>';
			    	this.editorC = this.editorC.concat(doc);
			    	this.quoteTextTime = 1; console.log('right '+this.editorC);
			    }
		    },
		    async afterComplete(upload) {
		      	var imageName = uuid.v1();
		      	this.is_loading = true;
		      	let that = this
		      	try {
			        let file = upload;
			        // that.images.push(file);
			        let extension = file.name.split('.').pop().toLowerCase();
		       
				    var data_file = file; 
				    var formdata = new FormData();
			    	formdata.append('data_file', data_file);
			    	formdata.append('extension', extension);
			    	formdata.append('_comp', "task");
			    	formdata.append('_id', that.taskId);
			    	formdata.append('_file_name', file.name);
			    	formdata.append('format', file.type.split('/').shift().toLowerCase());
			    	

	        		axios.post('/api/add_pic?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
	        			that.images.push(response.data.src);
	        			that.is_loading = false;
	        			upload.previewElement.getElementsByClassName("dz-image")[0].children[0].setAttribute("data-uri",response.data.src);
	        			upload.previewElement.getElementsByClassName("dz-image")[0].children[0].setAttribute("data-format",response.data.format);
	        			upload.previewElement.getElementsByClassName("dz-image")[0].children[0].setAttribute("data-file_name",response.data.file_name);
	        			// jQuery(".dz-image").last().find("img").attr("data-uri",response.data.src);
			    	}).catch(function (error) {
			    		console.log("Unable to process.");
			    	});
		      	} catch (error) {
		        	console.log(error);
		      	}
		    },
		     async removeThisFile(file) {
		    	var _filePath=event.target.parentElement;
		    	if(_filePath) {
		    		_filePath.querySelector('img').getAttribute('data-uri');
		    	}
		    	let that = this, _id = file.upload.uuid;

		    	this.images.forEach(function(item, i) { 
		    		if(item === _filePath) {
		    			that.images.splice(i, 1);
		    		}
		    	});
		    },
			goToDrive() {
				let self = this
				var _id = btoa(this.folderId.toString());      
				const link = `/drives/${_id}`;
				self.$router.push({path: link});
				self.$store.commit('setSuccessModal', false)
				self.$store.commit('setTaskModal', false)
			},
			sendProjectUrl(url) {
				this.$router.push({ path: url });
				this.$store.commit('setSuccessModal', false)
				this.$store.commit('setTaskModal', false)
	    	},
	    	addHoverClass() {
		      	setTimeout(function() {
		          jQuery( document ).ready(function() {               
		              jQuery('.description-section').each(function() {
		                  var array = [];
		                  jQuery(this).find('.cust-vals.show-img-full img').each(function( index, value ) {
		                      array.push(value.src);
		                  });
		                  jQuery(this).find('.main-files-listing img').each(function( index, value ) {
		                        if(array.length) {
		                        	alert()
				              		if(array.indexOf(value.src) >= 0) {
					                  jQuery(this).addClass('hover-active')
					                } else {
					                  jQuery(this).removeClass('hover-active')
					                }
				              	} else {
				              		jQuery(this).removeClass('hover-active')
				              	}
		                  });
		              });            
		         });
		       }, 2000);
	    },
	    addHoverClassChange() {
	      setTimeout(function() {
	          jQuery( document ).ready(function() {         
	            jQuery('.wrapper-comment').each(function() {
	              var array = [];
	              jQuery(this).find('.custom-showmore-div img').each(function( index, value ) {
	                 array.push(value.src);
	              });
	              jQuery(this).find('.show-img-full img').each(function( index, value ) {
	              	if(array.length) {
	              		if(array.indexOf(value.src) >= 0) {
		                  jQuery(this).addClass('hover-active')
		                } else {
		                  jQuery(this).removeClass('hover-active')
		                }
	              	} else {
	              		jQuery(this).removeClass('hover-active')
	              	}
	                
	              });
	            })

	            
	        });
	        }, 2000);
	    },
	    shouldDisplayModelEdit() {
      		return this.is_admin || JSON.parse(this.logged) == this.taskUser;
      	},
      	editTask() {
      		let self = this
			self.$store.commit('setSuccessModal', false)
			self.$store.commit('setTaskModal', false)
  			var _id = btoa(this.taskId.toString());
  			self.$router.push({ path: `/tasks/${_id}/edit` });	
  		},
	   },
	   	mounted () {
	   		this.is_admin = JSON.parse(localStorage.getItem('type'));
	   		this.date_format = localStorage.getItem('date_format');
	   		this.logged = localStorage.getItem('user');
	    	document.addEventListener('mouseup', event => {
		        this.selectModelTriggers(event);
		    });

	    }
	}
</script>