<template>
  <div class="c-app">
    <TheSidebar/>
    <CWrapper>
      <TheHeader/>
      <div class="c-body">
        <main class="c-main">
          <CContainer fluid>
            <transition name="fade">
              <router-view :key="$route.fullPath"></router-view>
            </transition>           
          </CContainer>
        </main>
        <TheFooter/>
      </div>
    </CWrapper>
    <RightNotification v-if="successModal" />
      <ReportModal />
      <div class="loader-image" v-if="is_loading">
      <img :src="loader">
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import TheSidebar from './TheSidebar'
import TheHeader from './TheHeader'
import TheFooter from './TheFooter'
import RightNotification from './RightNotificationModal'
import ReportModal from './ReportModal'
import axios from 'axios'
import moment from 'moment';

export default {
  name: 'TheContainer',
   data () {
    return {
      observers:[],
      participants:[],
      avtar: '/img/user-avtar.jpg',
      loader: '/img/loader.gif',
      project:'',
      task_date:'',
      task_id:'',
      name:'',
      is_loading:false,
      task_number:'',
      task_status:'',
      description:'',
      priority:'',
      user_pic:'',
      user_name:'',
      user_role:'',
      assignee_name:'',
      projectUrl:'',
      assignee_role:'',
      comment_list: [],
      comment_ct: 0,
      time_for: '',
      mentions: [],
      current:'',
      date_difference: '',
      folder_id:'',
      taskFiles:'',
      assignee_profile:'',
      task_user:'',
    }
  },
  components: {
    TheSidebar,
    TheHeader,
    TheFooter,
    RightNotification,
    ReportModal
  },
  computed: {
    ...mapGetters(["successModal"])
  },
  methods: {
      async showModMoreLess() {
          setTimeout(function() {
            var mdiv = document.getElementsByClassName('comment-section-detail-model');
            for(var i = 0; i < mdiv.length; i++) {
              var id = '#comment_loader_model'+mdiv[i].getAttribute('data');

              jQuery(id).showMore({
                minheight: 150,
                buttontxtmore: '<p class="more-ico"><span><img src="/images/down-ico.png" /></span></p>',
                buttontxtless: '<p class="less-ico"><span><img src="/images/down-ico.png" /></span></p>',
                animationspeed: 750
            });
            }
          }, 400);
        },
     listComments(taskId) {
        let that = this;
        var formdata = new FormData();
        formdata.append('component_id', taskId);
        formdata.append('component', 'task');

        axios.post('/api/comment/list?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
          that.comment_list = response.data.comments;
          that.comment_ct = response.data.count;
          that.time_for = response.data.time;
          that.showModMoreLess();
        }).catch(function (error) {
            console.log('something went wrong.');
        });
      }
  }
}
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
