<template>
    <CFooter :fixed="false">
        <div>
            <a href="https://www.teqtop.com" target="_blank">Teqtop</a>
            <span class="ml-1">&copy; {{ new Date().getFullYear() }} Portal.</span>
        </div>
        <div class="ml-auto">
            <span class="mr-1">Powered by</span>
            <a href="https://www.teqtop.com" target="_blank">Teqtop Project Portal</a>
        </div>
    </CFooter>
</template>

<script>
    export default {
        name: 'TheFooter'
    }
</script>
