<template>
  <CDropdown
    inNav
    class="c-header-nav-items top-header-sec"
    placement="bottom-end"
    add-menu-classes="pt-0"
  >
    <template #toggler>
      <CHeaderNavLink>
        <div class="user-profile-outer">
          <div class="c-avatar small-rounded-img">
            <img
              :src="authProfile"
              class="c-avatar-img "
            />
          </div>
          <div class="user-name">
            <b>{{ authName }}</b>
          </div>
        </div>
      </CHeaderNavLink>
    </template>
    <CDropdownHeader tag="div" class="text-center" color="light">
      <strong>Account</strong>
    </CDropdownHeader>
    <CDropdownItem  @click="editProfileUser( id )">
      <CIcon name="cil-user"/> Profile
    </CDropdownItem>
    <CDropdownItem @click="logout()">
      <CIcon name="cil-lock-locked" /> Logout
    </CDropdownItem>
  </CDropdown>
</template>
<script>
import axios from 'axios'
import { mapGetters, mapActions, mapState } from "vuex";
export default {
  name: 'TheHeaderDropdownAccnt',
  data () {
    return { 
      itemsCount: 42,
      id: null,
      profile: null,
      avtar: '/img/user-avtar.jpg',
    }
  },
   computed: {
    ...mapState({
      authProfile: state => state.authProfile,
      authName: state => state.authName,
    }),
     ...mapGetters(["loginUser"])
   },
   watch: {
    loginUser (newVal, oldVal) {
      this.loginUser = newVal
    }
  },
  methods:{
    logout(){
      let self = this;
       var path = '/api/logout?token=' + localStorage.getItem("api_token");
        self.$store.dispatch('auth/sendLogoutRequest', {path: path })      
    },
    editProfileLink (id) {
      return `/user-profile/${id.toString()}/edit`
    },
   editProfileUser ( id ) {    
      const editProfileLink = this.editProfileLink( id );
      this.$router.push({path: editProfileLink});
    },
    user() {
      let self = this;
      let path = '/api/user?token=' + localStorage.getItem("api_token");
      if(localStorage.getItem("api_token")) {
        self.$store.dispatch('auth/getAuthUser', {path: path })
        .then(() => {
          let user = self.$store.state.auth.user;
          self.$store.commit('setUser', user)
          if(!user.id) {
          	localStorage.removeItem("api_token");
          	self.$store.auth.commit("setAuthToken",localStorage.getItem("api_token"));            
          	this.$router.push({ name: "Login" });
          }
          self.id = user.id;
          self.profile = user.profile;
        });
      } else {
        this.$router.push({ name: "Login" });
      }
      
    }
  }, 
   mounted: function(){
    let self=this
      this.user();  
    setTimeout(function() {
      // console.log(self.authUser)
    }, 1000);
      
      
  }
}
</script>
<style scoped>
  .c-icon {
    margin-right: 0.3rem;
  }
</style>
