<template>
  	<CHeader fixed with-subheader light>
	    <CRow class="w-100 align-items-center">
	    	<CCol col="1">
		        <CToggler
		          	in-header
		          	class="ml-3 d-lg-none"
		          	@click="$store.commit('toggleSidebarMobile')"
		        />
		        <CToggler
		          	in-header
		          	class="ml-3 d-md-down-none"
		          	@click="$store.commit('toggleSidebarDesktop')"
		        />
		        <CHeaderBrand class="mx-auto d-lg-none mobile-view-logo" to="/">
		          	<img v-if="logo" :src="logo" alt="Logo">
		        </CHeaderBrand>
		    </CCol>

	        <CCol col="7">
		        <!-- <CMenu/> -->
		        <CGlobalSearch />
		    </CCol>

	        <CCol col="4">
		        <CHeaderNav class="mr-4">
		          	<CHeaderNavItem class="d-md-down-none mx-2 test"  >
			            <CHeaderNavLink  >	
			            	<a class="notification-a" @click="openInbox"><CIcon name="cil-chat-bubble" /><span v-if="totalInboxNotification" class="badge badge-pill badge-danger">{{ totalInboxNotification }}</span></a>		            	
			              	<a @click="openModal" class="notification-a"><CIcon name="cil-bell" /><span v-if="totalUncheckNotification" class="badge badge-pill badge-danger">{{ totalUncheckNotification }}</span></a>
			              	<a @click="openRoportModal"><CIcon name="cil-clock" /></a>
			            </CHeaderNavLink>
		          	</CHeaderNavItem>
		          	<TheHeaderDropdownAccnt/>
		        </CHeaderNav>
		    </CCol>
	    </CRow>
	    <CSubheader class="px-3">
	      	<CBreadcrumbRouter class="border-0 mb-0"/>
	    </CSubheader>
  	</CHeader>
</template>

<script>
	import { mapGetters, mapActions, mapState } from "vuex";
	import CMenu from './Menu'
	import CGlobalSearch from './GlobalSearch'
	import TheHeaderDropdownAccnt from './TheHeaderDropdownAccnt'
	import axios from 'axios'

	export default {
	  	name: 'TheHeader',
	  	data () {
		    return {
		      	logo: ""
		    }
	  	},
	  	components: {
		    TheHeaderDropdownAccnt,
		    CMenu,
		    CGlobalSearch
	  	},
	  	computed: {
	    	...mapGetters(["totalUncheckNotification","totalInboxNotification"])
	  	},
	   	methods: {
		    openModal(){
		      	var self=this;
		       	self.$store.commit('setSuccessModal', true)      
		        axios.get('/api/notifications/update-uncheck')
		        .then(function (response) { 
		          	self.$store.commit("setUncheckNotification",  0);
		        })
		    },
		    openRoportModal() {
		    	var self=this;
		    	self.$store.commit('setReportModal', true)
		    },
		    openInbox() {
		    	var self=this;
		    	axios.get('/api/chat/setChatNotiStatus')
		        .then(function (response) { 
		          	self.$store.commit("settotalInboxNotification", response.data.chatCount);
		        })
		    	this.$router.push({ path: '/inbox' });
		    }
	   	},
	  	mounted () {
		    let that = this;
		    axios.get('/api/site-logo?token=' + localStorage.getItem("api_token")).then(function (response) {
		      	that.logo = response.data.logo;
		    }).catch(function (error) {
		      	that.logo = '/img/logo.png'
		      	console.log('No logo found');
		    });
	  	}
	}
</script>