<template>
  <CRow>
    <CCol col="12" lg="6">
      <CCard no-header>
        <CCardBody>
          <h3>
            Create Designation
          </h3>
          <CAlert
            :show.sync="dismissCountDown"
            color="primary"
            fade
          >
            ({{dismissCountDown}}) {{ message }}
          </CAlert>

          <CInput label="Name *" type="text" placeholder="Name" v-model="designation.name"></CInput>
           <validation-error v-if="errors.name" :error="errors.name[0]"  />
          <CButton color="primary" @click="store()">Create</CButton>
          <CButton color="primary" @click="goBack">Back</CButton>
        </CCardBody>
      </CCard>
    </CCol>
    <div class="loader-image" v-if="is_loading">
      <img :src="loader">
    </div>
  </CRow>
</template>

<script>
import axios from 'axios'
import { mapGetters, mapActions } from "vuex";
import validationError from '@/errors/validation-errors.vue'
export default {
  name: 'CreateDesignation',
  data: () => {
    return {
        designation: {
          name: '',
        },
        message: '',
        dismissSecs: 7,
        dismissCountDown: 0,
        loader: '/img/loader.gif',
        is_loading: false,
        showDismissibleAlert: false
    }
  },
  components: {
        validationError
      },
  computed: {
    ...mapGetters(["errors"])
  },
  methods: {
    goBack() {
      this.$router.go(-1)
      // this.$router.replace({path: '/users'})
    },
     validationError()
      {
         let self = this;         
         let error={};
          if(!self.designation.name){error.name=[]; error.name[0]="This Field is required!"; }          
          if(Object.keys(error).length){
             self.$store.commit("setErrors", error);
             return true;
          }
          self.$store.commit("setErrors", {});
          return false; 

        },
    store() {
        let self = this; 
         if(self.validationError()) {
             return
         }
        self.is_loading = true;
        axios.post(  '/api/designations?token=' + localStorage.getItem("api_token"),
          {
            name: self.designation.name,
          }
        )
        .then(function (response) {
            self.is_loading = false;
            self.note = {
              title: '',
              content: '',
              applies_to_date: '',
              status_id: null,
              note_type: '',
            };
            self.message = 'Successfully created Designation.';
            self.showAlert();
        }).catch(function (error) {
          self.is_loading = false;
            if(error.response.data.message == 'The given data was invalid.'){
              self.message = '';
              for (let key in error.response.data.errors) {
                if (error.response.data.errors.hasOwnProperty(key)) {
                  self.message += error.response.data.errors[key][0] + '  ';
                }
              }
              self.showAlert();
            }else{
              console.log(error);
              self.$router.push({ path: 'login' }); 
            }
        });
    },
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert () {
      this.dismissCountDown = this.dismissSecs
    },
  },
  mounted: function(){
     this.$store.commit("setErrors", {})
    let self = this;
    axios.get(  '/api/designations/create?token=' + localStorage.getItem("api_token"))
    .then(function (response) {
        self.statuses = response.data;
    }).catch(function (error) {
        console.log(error);
        self.$router.push({ path: 'login' });
    });
  }
}

</script>
