<template>
  <CRow>
    <CCol col="12" xl="12">
      <transition name="slide">
      <CCard>
        <CCardBody>
            <h4>Designations <CButton color="primary mb-2 float-right" @click="createDesignation()"><CIcon name="cil-plus"/> Create Designation</CButton></h4>
            
            <CAlert
              :show.sync="dismissCountDown"
              color="primary"
              fade
            >
              {{ message }}
            </CAlert>
           <CDataTable
              hover
              :items="items"
              :fields="fields"
              :items-per-page="10"
              pagination
            >
              <template #name="{item}">
                <td>
                  <strong>{{item.name}}</strong>
                </td>
              </template>
              <template #actions="{item}">
                <td>
                  <div class="custom-list-dropdown">
                    <div class="dropdown">
                      <p class="dropdown-toggle pointer" :id="'listdesig'+item.id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/img/drop-icon.svg" /></p>
                      <div class="dropdown-menu" :aria-labelledby="'listdesig'+item.id">
                        <a @click="showDesignation( item.id )" class="view-item-icon dropdown-item"><img src="/img/view-icon.png" alt="view-icn"/> View</a>
                        <a @click="editDesignation( item.id )" class="text-primary dropdown-item"><CIcon name="cil-pencil"/> Edit</a>
                        <a @click="deleteDesignation( item.id )" class="text-danger dropdown-item"><CIcon name="cil-trash"/> Delete</a>
                      </div>
                    </div>
                  </div>
                </td>
              </template>
            </CDataTable>
        </CCardBody>  
      </CCard>
      </transition>
    </CCol>
    <div class="loader-image" v-if="is_loading">
      <img :src="loader">
    </div>
  </CRow>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Designations',
  data: () => {
    return {
      items: [],
      fields: ['name','actions'],
      currentPage: 1,
      perPage: 5,
      totalRows: 0,
      you: null,
      loader: '/img/loader.gif',
      is_loading: false,
      message: '',
      showMessage: false,
      dismissSecs: 7,
      dismissCountDown: 0,
      showDismissibleAlert: false
    }
  },
  computed: {
  },
  methods: {
    getRowCount (items) {
      return items.length
    },
    roleLink (id) {
      return `designations/${id.toString()}`
    },
    editLink (id) {
      return `designations/${id.toString()}/edit`
    },
    showDesignation ( id ) {
      const roleLink = this.roleLink( id );
      this.$router.push({path: roleLink});
    },
    editDesignation ( id ) {
      const editLink = this.editLink( id );
      this.$router.push({path: editLink});
    },
    deleteDesignation ( id ) {
      let self = this;
      let noteId = id; 
      this.$swal.fire({
          title: 'Are you sure?',
          text: 'You can\'t revert your action',
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes',
          cancelButtonText: 'No',
          showCloseButton: true,
          showLoaderOnConfirm: true
      }).then((result) => {
        if(result.value) {
          axios.post(  '/api/designations/' + id + '?token=' + localStorage.getItem("api_token"), {
            _method: 'DELETE'
          })
          .then(function (response) {
            self.is_loading = false;
            if(response.data.status === 'success'){
                self.message = 'Successfully deleted designation.';
                self.showAlert();
                self.getDesignations();
            }else if(response.data.status === 'rejected'){
                self.message = "Can't delete. Designation has assigned one or more menu elements.";
                self.showAlert();
            }
          }).catch(function (error) {
            self.is_loading = false;
            console.log(error);
            // self.$router.push({ path: '/login' });
          });
        } else {
          this.$swal('Cancelled', 'Your destination is still intact.', 'info');
        }
      });
    },
    createDesignation () {
      this.$router.push({path: 'designations/create'});
    },
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert () {
      this.dismissCountDown = this.dismissSecs
    },
    getDesignations (){
      let self = this; this.is_loading = true;
      axios.get(  '/api/designations?token=' + localStorage.getItem("api_token") )
      .then(function (response) {
        self.is_loading = false;
        self.items = response.data;
      }).catch(function (error) {
        console.log(error);
        // self.$router.push({ path: '/login' });
      });
    }
  },
  mounted: function(){
    this.getDesignations();
  }
}
</script>

<style scoped>
.card-body >>> table > tbody > tr > td {
  cursor: pointer;
}
</style>
