<template>
	<div class="dashboard-section">
		<CRow class="remove-extrarow-padding">
	    	<CCol col="8" lg="8">
	    		<CCard v-if="has_permission" class="feed-field-section">
	      			<CCardBody>
	      				<div class="feed-textfield">
	      					<CRow>
			    				<CCol col="12" v-if="show_editor">
			      					<div class="editor-module dashboard-feed-editor">
			      						<DxHtmlEditor :mentions="mentions" v-model:value="feed" height="300px" ref="textEditor">
			      							<DxToolbar>
										        <DxItem format-name="bold"/>
										        <DxItem format-name="link"/>
										        <DxItem format-name="image"/>
										        <DxItem format-name="blockquote"/>
										    </DxToolbar>
			      						</DxHtmlEditor>
			      						<div class="editor-icons">
			      							<a v-on:click="showDropbox($event)" class="attachment-img-ico"><img src="/img/attachment.png" alt="" /></a>
		          							<a v-on:click="selectOption($event, 'bold')" class="bold-img-ico"><img src="/img/bold.png" alt="" /></a>
		          							<a v-on:click="selectOption($event, 'link')"><CIcon name="cil-link"/></a>
		          							<a v-on:click="selectOption($event, 'blockquote')" class="quoted-img-ico"><img src="/img/quote.png" alt="" /></a>
			      						</div>
			      						<div class="files-names" v-if="edit_name.length > 0">
			      							<p v-for="name in edit_name">{{ name.name }} <a class="float-right" @click="removeIndex(name.file)"><CIcon name="cil-x"/></a></p>
			      						</div>
			      						<vue-dropzone
		          							v-if="is_shown"
									      	ref="imgDropZone"
									      	id="customdropzone"
									      	:options="dropzoneOptions"
									      	@vdropzone-complete="afterComplete"
									      	v-on:vdropzone-removed-file="removeThisFile"
									      	data_id=""
									    ></vue-dropzone>
			  						</div>
			  						<CButton v-if="is_edit" @click="editFeedVal" color="primary">Edit</CButton>
			  						<CButton v-else @click="addFeed" color="primary">Send</CButton>
						          	<CButton @click="showEditor" color="secondary">Cancel</CButton>
			  					</CCol>
			  					<CCol col="12" v-else>
			  						<div class="dash-texting" @click="showEditor">Send Message ...</div>
			  					</CCol>
			  				</CRow>
	      				</div>
	      			</CCardBody>
	      		</CCard>
	      		<div class="dashboard-heading">
	      			<h3>Feeds</h3>
	      			<div class="input-group">
	      				<input type="text" class="form-control" placeholder="Filter & Search" aria-label="Filter & Search" v-model="search" @input="makeSearch('search')" >
					  	<div class="input-group-append">
					    	<span class="input-group-text" @click="makeSearch('search')"><CIcon name="cil-magnifying-glass"/></span>
					    	<span class="input-group-text" @click="emptySearch"><CIcon name="cil-x"/></span>
					  	</div>
					</div>
	      		</div>
	    		<CCard>
	      			<CCardBody>
	      				<div class="feed-listing-area">
	      					<div class="listing-section mt-3" v-for="(item, key) in feeds" :data="key">
	      						<div v-bind:class="'outer-sec make-quote-'+key" :key="key">
	      							<CRow>
	      								<CCol col="1">
			      							<div class="small-rounded-img">
				          						<img :src="item.user_profile" v-if="item.user_profile">
				          						<img :src="avtar" v-else>
				          					</div>
				          				</CCol>
				          				<CCol col="11">
				          					<div class="feeds-listing">
					          					<div class="feed-user-det">
					          						<div class="inner-div">
						          						<h4>{{ item.user_name }}<span> > To All Employees</span></h4>
						          						<p>{{ dateFormat(item.created_at) }}</p>
						          					</div>
						          					<div class="inner-div">
						          						<CDropdown v-if="shouldDisplay(item)" toggler-text="..." class="custom-menu-btn">
				          									<CDropdownItem @click="editFeed(item)"> <CIcon name="cil-pencil"/></i> Edit</CDropdownItem>
				          									<CDropdownItem @click="deleteFeed(item.id)"> <CIcon name="cil-trash"/></i> Delete</CDropdownItem>
				          								</CDropdown>
						          					</div>
					          					</div>
					          					<div class="description-sec images show-img-full" v-viewer>
					          						<p v-html="item.description"></p>
					          					</div>
					          					<!-- show added files or videos -->
					          					<div class="images-viewer main-files-listing mt-3" v-if="JSON.parse(item.files)">
					          						<div class="images-listing pr-3 files-names" v-for="src in JSON.parse(item.files)"  v-if="!isValidImageURL(src)">
					          							<a :href="src" download target="_blank">{{ getValidName(src) }}</a>
					          						</div>
											        <viewer class="d-flex viewer-outer show-img-full" :images="JSON.parse(item.files)">
											        	<div class="images-listing pr-3" v-for="(src, a) in JSON.parse(item.files)"  v-if="isValidImageURL(src)">
											            	<img :src="src" :key="a">
											            </div>
											        </viewer>
											    </div>

					          					<!-- icons -->
					          					<div class="more-icons d-flex align-items-center">
                                                    <popper trigger="hover" :options="{placement: 'top'}">
                                                    	<div class="popper">
													        <div class="like-box" >
															  <div class="like-inner">
															  	<div class="header-box-like">
															      <CIcon name="cil-thumb-up" /><span class="like_box_count">{{ item.likes_count }}</span>
															    </div>
															    <div class="likeuser-section-values likeuser-feed-list">
															    	<div v-for="luser in item.likeusers">
				
																		<div class="popup-left">
																			<div class="small-rounded-img">
																				<img class="pro-img" :src="luser.profile" v-if="luser.profile">
												          						<img class="pro-img" :src="avtar" v-else>
																			</div>
																		</div>
																		<div class="popup-right"><b>{{ luser.name }}</b></div>
																	</div>
										          				</div>
															  </div>
															</div>
													    </div>
							          					<a slot="reference" v-bind:class="(item.liked_by)?'like-btn top active':'like-btn top'" @click="makeLike(item.id, 'feed')"><span>{{ item.likes_count }}</span> <CIcon name="cil-thumb-up" /></a>
													 </popper>

													<!-- Generated markup by the plugin -->
													
						          				</div>
						          				<div class="comment-section-values comment-feed-list">
						          					<div class="pervious-comm-btn">
					          							<a @click="viewMore(item.id)" v-if="item.comment_count" :data-count="totalComment(item.comment_count)" data-paginator="1">Previous Comment <span>({{totalComment(item.comment_count)}})</span></a>
				          								<a v-else>Previous Comment <span>(0)</span></a>
				          								<div class="pervious-comm_loader" v-if="loading"><img :src="loader" /></div>
					          						</div>	
					          						<div class="view-more">				          						
					          						<div class="starting-comment">
					          							<CRow class="pt-3" v-bind="item.comment_list" v-for="(comment, j) in item.comment_list.slice().reverse()" :key="j">
						          						<CCol col="1">
						          							<div class="small-rounded-img">
								          						<img :src="comment.profile" v-if="comment.profile">
								          						<img :src="avtar" v-else>
								          					</div>
						          						</CCol>
						          						<CCol col="11">
						          							<div class="wrapper-comment">
					          									<b>{{ comment.user_name }} <span class="comment-date">{{ dateFormat(comment.created_at) }}</span></b>
					          									<div class="comment-section-detail images show-img-full" v-viewer>
					          										<p v-html="JSON.parse(comment.comment)"></p>
					          									</div>
															
															<!-- show added files or videos -->
								          					<div class="images-viewer">
								          						<div class="images-listing pr-3 files-names" v-for="src in JSON.parse(comment.files)" v-if="!isValidImageURL(src)">
								          							<a :href="src" download target="_blank">{{ getValidName(src) }}</a>
								          						</div>
														        <viewer class="d-flex viewer-outer show-img-full" :images="JSON.parse(comment.files)">
														        	<div class="images-listing pr-3" v-for="src in JSON.parse(comment.files)" v-if="isValidImageURL(src)">
														            	<img :src="src">
														            </div>
														        </viewer>
														    </div>
														    </div>

															<div class="wrapper-opt">
						          								<CDropdown toggler-text="More" class="custom-menu-btn" v-if="shouldDisplayComm(comment)">
						          									<CDropdownItem @click="deleteComment(comment.id, item.id, key)"> <CIcon name="cil-trash"/> Delete</CDropdownItem>
						          								</CDropdown>
						          							</div>
						          						</CCol>
						          					</CRow>
					          						</div>
						          					</div>
						          				</div>
						          			</div>
						          			<div class="feed-comment-section pt-3">
					          					<div class="comment-field">
					          						<a v-bind:class="'commentfiels-'+key" @click="showCommentEditor(key)">Add Comment</a>
					          						<div v-bind:class="'hide commenteditor-'+key">
					          							<div v-bind:class="'editor-module editor-mod-'+key">
								      						<DxHtmlEditor :mentions="mentions" v-model:value="comment_editor[key]" height="100px" ref="commentEditor">
								      							<DxToolbar>
															        <DxItem format-name="bold"/>
															        <DxItem format-name="link"/>
															        <DxItem format-name="image"/>
															        <DxItem format-name="blockquote"/>
															    </DxToolbar>
								      						</DxHtmlEditor>
								      						<div class="editor-icons">
								      							<a v-on:click="showCommDropbox(key)" class="attachment-img-ico"><img src="/img/attachment.png" alt="" /></a>
							          							<a v-on:click="selectCommOption(key, 'bold')" class="bold-img-ico"><img src="/img/bold.png" alt="" /></a>
							          							<a v-on:click="selectCommOption(key, 'link')"><CIcon name="cil-link"/></a>
							          							<a v-on:click="selectCommOption(key, 'blockquote')" class="quoted-img-ico"><img src="/img/quote.png" alt="" /></a>
								      						</div>
								      						<vue-dropzone
							          							:class="'hide cust-dropzone-'+key"
														      	ref="commDropZone"
														      	:id="'customdropzone'+key"
														      	:options="dropzoneOptions"
														      	@vdropzone-complete="afterComplete"
														      	v-on:vdropzone-removed-file="removeThisFile"
														      	v-bind:data_id="item.id"
														    ></vue-dropzone>
								  						</div>
								  						<CButton @click="addComment(key, item.id)" color="primary">Send</CButton>
					          							<CButton @click="hideCommentEditor(key)" color="secondary">Cancel</CButton>
					          						</div>
					          					</div>
					          				</div>
				          				</CCol>
			          				</CRow>
	      						</div>
	      					</div>
	      					<div class="load-more pt-3 text-center pb-3" v-if="feed_ct > 0">
	      						<CButton @click="loadMore" color="secondary">Load More...</CButton>
	      					</div>
	      					<div class="no-feeds-sec" v-if="feeds.length <= 0">
	      						<a class="error-msg-ico"><img src="/img/error.png" /> </a> Currently there are no feeds.
	      					</div>
	      				</div>
	      			</CCardBody>
	      		</CCard>
	    	</CCol>
	    	<CCol col="4" lg="4">
	    		<DashboardSidebar 
	    		:data="sidebar_data"
	    		:permissions="has_permission" 
	    		:birthdays="birthdays" 
	    		:avtar="avtar"
	    		:projects="projects"
	    		/>
	    	</CCol>
	    </CRow>
	    <div  id="record-latest-comment" v-if="latestComment" style="display:none">
		    <div class="record-latest-comment">
			    <div class="latest-comment">
					<CRow class="pt-3" v-bind="latestComment" >
						<CCol col="1">
							<div class="small-rounded-img">
								<img :src="latestComment.profile" v-if="latestComment.profile">
								<img :src="avtar" v-else>
							</div>
						</CCol>
						<CCol col="11">
							<div class="wrapper-comment">
								<b>{{ latestComment.user_name }} <span class="comment-date">{{ dateFormat(latestComment.created_at) }}</span></b>
								<div class="comment-section-detail images show-img-full" v-viewer>
									<p v-html="JSON.parse(latestComment.comment)"></p>
								</div>
						
						<!-- show added files or videos -->
							<div class="images-viewer">
								<div class="images-listing pr-3 files-names" v-for="src in JSON.parse(latestComment.files)" v-if="!isValidImageURL(src)">
									<a :href="src" download target="_blank">{{ getValidName(src) }}</a>
								</div>
					        <viewer class="d-flex viewer-outer show-img-full" :images="JSON.parse(latestComment.files)">
					        	<div class="images-listing pr-3" v-for="src in JSON.parse(latestComment.files)" v-if="isValidImageURL(src)">
					            	<img :src="src">
					            </div>
					        </viewer>
					    </div>
					    </div>
						<div class="wrapper-opt">
							<div class="dropdown">
								<p class="dropdown-toggle pointer text-center"  :id="'listDroper' + latestComment.id"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									More
								</p>
								<div class="dropdown-menu" :aria-labelledby="'listDroper'+latestComment.id">
									<a :data="latestComment.id" :data-component="latestComment.component_id" class="driver-item-icon dropdown-item text-info">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" class="c-icon"><path d="M4.5 22.125c-0 0.003-0 0.006-0 0.008 0 0.613 0.494 1.11 1.105 1.116h12.79c0.612-0.006 1.105-0.504 1.105-1.117 0-0.003-0-0.006-0-0.009v0-15h-15zM6 8.625h12v13.125h-12z"></path><path d="M7.875 10.125h1.5v9.375h-1.5v-9.375z"></path><path d="M11.25 10.125h1.5v9.375h-1.5v-9.375z"></path><path d="M14.625 10.125h1.5v9.375h-1.5v-9.375z"></path><path d="M15.375 4.125v-2.25c0-0.631-0.445-1.125-1.013-1.125h-4.725c-0.568 0-1.013 0.494-1.013 1.125v2.25h-5.625v1.5h18v-1.5zM10.125 2.25h3.75v1.875h-3.75z"></path></svg> Delete
									</a>
								</div>
							</div>
						</div>
						</CCol>
					</CRow>
				</div>
			</div>
			</div>
			<div id="previous-comment"  v-if="moreComment" style="display:none">
			<div  class="more-comment" >
				<CRow class="pt-3"  v-for="(tcomment, j) in targetComment" :key="j">
				<CCol col="1">
					<div class="small-rounded-img">
						<img :src="tcomment.profile" v-if="tcomment.profile">
						<img :src="avtar" v-else>
					</div>
				</CCol>
				<CCol col="11">
					<div class="wrapper-comment">
						<b>{{ tcomment.user_name }} <span class="comment-date">{{ dateFormat(tcomment.created_at) }}</span></b>
						<div class="comment-section-detail images show-img-full" v-viewer>
							<p v-html="JSON.parse(tcomment.comment)"></p>
						</div>
				
				<!-- show added files or videos -->
					<div class="images-viewer">
						<div class="images-listing pr-3 files-names" v-for="src in JSON.parse(tcomment.files)" v-if="!isValidImageURL(src)">
							<a :href="src" download target="_blank">{{ getValidName(src) }}</a>
						</div>
			        <viewer class="d-flex viewer-outer show-img-full" :images="JSON.parse(tcomment.files)">
			        	<div class="images-listing pr-3" v-for="src in JSON.parse(tcomment.files)" v-if="isValidImageURL(src)">
			            	<img :src="src">
			            </div>
			        </viewer>
			    </div>
			    </div>

				<div class="wrapper-opt">
						<CDropdown toggler-text="More" class="custom-menu-btn" v-if="shouldDisplayComm(tcomment)">
							<CDropdownItem @click="deleteComment(tcomment.id,tcomment.component_id)"> <CIcon name="cil-trash"/> Delete</CDropdownItem>
						</CDropdown>
					</div>
				</CCol>
			</CRow>
		</div>
		</div>
	    <div class="loader-image" v-if="is_loading">
			<img :src="loader">
		</div>
	</div>
</template>

<script>
	import Vue from 'vue';
	import axios from 'axios'
	import moment from 'moment';
	import { DxHtmlEditor, DxToolbar, DxItem } from 'devextreme-vue/html-editor';
	let uuid = require("uuid");	
	import DashboardSidebar from './dashboard/DashboardSidebar';
	import firebase from "firebase/app";
	import "firebase/messaging";
	import vue2Dropzone from "vue2-dropzone";
	import "vue2-dropzone/dist/vue2Dropzone.min.css";
	import 'viewerjs/dist/viewer.css';
	import Viewer from 'v-viewer';
	Vue.use(Viewer);
	import Popper from 'vue-popperjs';
    import 'vue-popperjs/dist/vue-popper.css'

	export default {
		name: 'Dashboard',
		components: {
	  		DxHtmlEditor, DxToolbar, DxItem, DashboardSidebar, vueDropzone: vue2Dropzone,popper:Popper
	  	},
		data () {
		    return {
		    	feed: '',
		    	_current: '',
		    	latestComment:'',
		    	moreComment:false,
		    	targetComment:[],
		    	_ttEl:'',
		    	quoteText: '',
		    	edit_feed: '',
		    	projects:[],
		    	quoteTextTime: 0,
		    	likeCount: 0,
		    	page: 1,
		    	feed_ct: 0,
		    	commentConunt: 0,
		    	comment_editor: [],
		    	edit_name: [],
		    	edit_files: [],
		    	_ky: '0',
		    	user_name: '',
		    	user_profile: '',
		    	search: '',
		    	date_format: '',
		    	time_for: '',
		    	avtar: '/img/user-avtar.jpg',
    			loader: '/img/loader.gif',
		    	feeds: [],
		    	user: [],
		    	files: [],
		    	total_comment:0,
		    	mentions: [],
		    	sidebar_data: [],
		    	is_shown: false,
		    	is_edit: false,
		    	latest: false,
		    	is_loading: false,
		    	is_admin: false,
		    	has_permission: false,
		    	birthdays: [],
		    	messaging: firebase.messaging(),
		    	show_editor: false,
		    	dropzoneOptions: {
		    		url: "https://httpbin.org/post",
			        thumbnailWidth: 150,
			        thumbnailHeight: 150,
			        addRemoveLinks: true,
			        dictDefaultMessage: `<p class='text-default dropbox-def-txt'><img src="/img/cloud-download.png" /> Upload Images or Files Here.</p>`
		      	},
		      	images: [],
		      	loading:false,
		      	paginator: 1,
		    }
		},
		methods: {
			async showEditor() {
				if(this.show_editor) {
					this.show_editor = false;
				} else {
					this.show_editor = true;
				}
				this.feed = ""; this.images = []; this.edit_name = [];
				this.is_edit = false; this.edit_files = []; this.edit_feed = '';
				if(this.$refs.imgDropZone) {
					this.$refs.imgDropZone.removeAllFiles();
				}
	    		this.setArrFields();
			},
			async showCommentEditor(k) {
				for(var i = 0; i < this.feeds.length; i++) {
					document.querySelector('.commentfiels-'+i).classList.remove('hide');
					document.querySelector('.commenteditor-'+i).classList.add('hide');
					document.querySelector('.cust-dropzone-'+i).classList.add('hide');
					this.comment_editor[i] = "";
				}
				this.images = []; this.$refs.commDropZone[k].removeAllFiles();
				
				var _field = document.querySelector('.commentfiels-'+k), _editor = document.querySelector('.commenteditor-'+k); 
				_field.classList.add('hide');
				_editor.classList.remove('hide');
			},
			async hideCommentEditor(k) {
				this.comment_editor[k] = [];
				this.images = []; this.$refs.commDropZone[k].removeAllFiles();
				var _field = document.querySelector('.commentfiels-'+k), _editor = document.querySelector('.commenteditor-'+k); 
				_field.classList.remove('hide');
				_editor.classList.add('hide');
			},
			async selectOption(e, type) {
	      		var div = document.querySelector('.editor-module'), clas = '.dx-'+type+'-format';
	      		document.querySelector(clas).click();
	      	},
	      	isValidImageURL(str){
			    if ( typeof str !== 'string' ) return false;
			    return !!str.match(/\w+\.(jpg|jpeg|gif|png|tiff|bmp|webp)$/gi);
			},
			getValidName(file) {
				var val = file.split('/');
				return val.slice(-1).pop();
			},
	      	async makeEdit(item, k) {},
	      	async deleteComment(id, comp, k) {
	      		let that = this;
	      		this._ttEl = event.target;
	      		this.$swal.fire({
		          	title: 'Are you sure?',
		          	text: 'You can\'t revert your action',
		          	type: 'warning',
		          	showCancelButton: true,
		          	confirmButtonText: 'Yes',
		          	cancelButtonText: 'No',
		          	showCloseButton: true,
		          	showLoaderOnConfirm: true
		        }).then((result) => {
		        	if(result.value) { that.is_loading = true;
		        		var formdata = new FormData();
				    	formdata.append('id', id);
				    	formdata.append('component_id', comp);
				    	formdata.append('component', 'feed');
				    	formdata.append('pager', that.page);

		        		axios.post('/api/comment/delete?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
		        			jQuery(that._ttEl).parents().eq(4).remove();
		        			that.is_loading = false;
				    		// that.feeds = response.data.feeds.feeds;
		    				// that.feed_ct = response.data.feeds.counts;
		    				that.setArrFields();
				    	});
		        	} else {
		            	this.$swal('Cancelled', 'Your comment is still intact.', 'info');
		          	}
		        });
	      	},
	      	shouldDisplay(item) {
	      		return this.is_admin || this._current == item.user_id;
	      	},
	      	shouldDisplayComm(item) {
	      		return this.is_admin || this._current == item.user;
	      	},
	      	showCommDropbox(k) {
	      		for(var i = 0; i < this.feeds.length; i++) {
					document.querySelector('.cust-dropzone-'+i).classList.add('hide');
				}
	      		var _fld = document.querySelector('.cust-dropzone-'+k);
	      		_fld.classList.remove('hide');
	      	},
	      	selectCommOption(k, type) {
	      		var div = document.querySelector('.editor-mod-'+k), clas = '.dx-'+type+'-format';
      			div.querySelector(clas).click();
	      	},
	      	async loadMore() {
	      		this.page = this.page + 1;
	      		this.makeSearch('more');
	      	},
	      	dateFormat(value) { 
	  			var date = moment(value).format('MMMM D, Y'), val = '', time = moment(value).format(this.time_for);
	      		if(moment().diff(date, 'days') === 0) {
	      			val = 'Today, '+time;
	      		} else if(moment().diff(date, 'days') === 1) {
	      			val = 'Yesterday, '+time;
	      		} else {
	      			val = moment(value).format(this.date_format);
	      		}

	      		return val;
	      	},
	      	async showDropbox(e) {
	      		if(this.is_shown) {
	      			this.is_shown = false;
	      		} else {
	      			this.is_shown = true;
	      		}
	      	},
	      	selectDashTrigger(e) {
	      		let text = window.getSelection().toString();
	    		if(text) {
	    			var _tar = e.target.closest('.listing-section'); 
	    			if(typeof _tar !== 'undefined' && _tar !== null) {
		    			if(_tar.getAttribute('data')) {
		    				this._ky = _tar.getAttribute('data');
		    			} 
		    		}

	    			var _cls = '.make-quote-'+this._ky;
	    			if(e.target.closest(_cls) !== null) {
		    			this.quoteText = text;
			    		this.quoteTextTime = 0;
			    		let tooltip = new TextTip({
						    scope: _cls,
						    iconFormat: 'font',
						    buttons: [
						        { title: 'quote', icon: "/img/quote.png" , callback: this.makeDashQuote }
						    ]
						});
			    	}
	    		}
	      	},
	      	makeDashQuote() {
	      		if(this.quoteTextTime == 0) {
	      			var ind = parseInt(this._ky);
			    	var doc = '<blockquote>'+this.quoteText+'</blockquote><div><br /></div>';
			    	var comment = (typeof this.comment_editor[ind] !== 'undefined')?this.comment_editor[ind].concat(doc):'';
			    	this.showCommentEditor(ind);
			    	this.comment_editor[ind] = comment;
			    	this.is_loading = true;
			    	this.quoteTextTime = 1; this.is_loading = false;
			    	this.$refs.commDropZone[ind].$el.focus();
			    }
	      	},
	      	editableFiles(value) {
		    	this.edit_name = [];
		    	if(value) {
		    		var files = JSON.parse(value); this.edit_files = files;
		    		for(var a = 0; a < files.length; a++) {
		    			var val = files[a].split('/'), obj = {}; 
		    			obj.name = val[val.length - 1]; obj.file = files[a];
		    			this.edit_name.push(obj);
		    		}
		    	}
		    },
	      	async removeIndex(file) {
	      		var that = this;
	      		this.edit_files.forEach(function(item, i) { 
		    		if(item === file) {
		    			that.edit_files.splice(i, 1);
		    			for(var a = 0; a < that.edit_name.length; a++) {
		    				if(that.edit_name[a].file === file) {
			    				that.edit_name.splice(a, 1);
			    			}
		    			}

		    		}
		    	});
	      	},
	      	async afterComplete(upload) {
		      	var imageName = uuid.v1();
		      	this.isLoading = true;
		      	let that = this
		      	try {
			        let file = upload;
			        // that.images.push(file);
			        let extension = file.name.split('.').pop().toLowerCase();
			        let _id = file.previewElement.parentElement.parentElement.getElementsByClassName("vue-dropzone")[0].getAttribute("data_id");
		       
				    var data_file = file; that.is_loading = true;
				    var formdata = new FormData();
			    	formdata.append('data_file', data_file);
			    	formdata.append('extension', extension);
			    	formdata.append('_comp', "feed");
			    	formdata.append('_id', _id);
			    	formdata.append('_file_name', file.name);
			    	formdata.append('format', file.type.split('/').shift().toLowerCase());

	        		axios.post('/api/add_pic?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
	        			that.images.push(response.data.src);
	        			that.is_loading = false;
	        			upload.previewElement.getElementsByClassName("dz-image")[0].children[0].setAttribute("data-uri",response.data.src);
	        			upload.previewElement.getElementsByClassName("dz-image")[0].children[0].setAttribute("data-format",response.data.format);
	        			upload.previewElement.getElementsByClassName("dz-image")[0].children[0].setAttribute("data-file_name",response.data.file_name);
	        			// jQuery(".dz-image").last().find("img").attr("data-uri",response.data.src);
			    	}).catch(function (error) {
			    		console.log("Unable to process.");
			    	});
		      	} catch (error) {
		        	console.log(error);
		      	}
		    },
		    async removeThisFile(file) {
			    var _filePath=event.target.parentElement.querySelector('img').getAttribute('data-uri')
		    	let that = this, _id = file.upload.uuid;

		    	this.images.forEach(function(item, i) { 
		    		if(item === _filePath) {
		    			that.images.splice(i, 1);
		    		}
		    	});
		    },
		    async makeSearch(_type) {
		    	let that = this;
		    	var formdata = new FormData();
		    	this.is_loading = true;

		    	formdata.append('search', this.search);
		    	formdata.append('page', this.page);

		    	axios.post('/api/feeds/search?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
		    		that.is_loading = false;
		    		var data = response.data;
	          		that.feeds = data.feeds;
	          		that.feed_ct = data.feeds.length;
	          		that.setArrFields();
		    	});
		    },
		    async emptySearch() {
		    	this.search = '';
		    	this.makeSearch('empty');
		    },
		    parseVal(comment) {
	      		const parser = new DOMParser();
	      		var htmlDoc = parser.parseFromString(comment, "text/html");
	      		var value = htmlDoc.getElementsByClassName('dx-mention');
	      		var data = [];
	      		for(var i = 0; i < value.length; i++) {
	      			data[i] = value[i].getAttribute('data-id');
	      		}
	      		return data;
	      	},
		    async addComment(k, id) { 
		    	let that = this;
		    	this._ttEl = event.target
		    	this.is_loading = true;
	    		var formdata = new FormData();
	    		var comment = this.comment_editor[k];

	    		var mentions = this.parseVal(comment);
		    	formdata.append('component_id', id);
		    	formdata.append('component', 'feed');
		    	formdata.append('comment', JSON.stringify(comment));
		    	formdata.append('mentioned', mentions);
		    	formdata.append('pager', this.page);

		    	for( var i = 0; i < this.images.length; i++ ) {
			       	let file = this.images[i];
			       	formdata.append('files[' + i + ']', file);
			    }

		    	axios.post('/api/comment/add?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
		    		that.is_loading = false;
		    		that.latestComment =response.data.latestComment;
		    		setTimeout(function() {	
		    		jQuery(that._ttEl).parents().eq(3).find('.comment-section-values').append(jQuery('#record-latest-comment').html())
		    		that.latestComment = "";
		    		}, 100);
		    		// that.feeds = response.data.feeds.feeds;
		    		// that.feed_ct = response.data.feeds.counts;
                    
		    		that.images = [];
			    	that.$refs.commDropZone[k].removeAllFiles();
			    	that.comment_editor = [];
			    	that.hideCommentEditor(k); 
			    	that.setArrFields();		    		 
		    	});
		    },
	      	async makeLike(_id, component) {
	      		let e = event.target;
	      		var formdata = new FormData();
	      		formdata.append('component_id', _id);
	      		formdata.append('component', component);
	      		
	      		axios.post('/api/like?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
	      			
	      			if(response.data.status == 'success') {
		      			if(e.tagName.toLowerCase() === "a") {
		      				e.classList.add('active');
		      				e.querySelector('span').innerText = response.data.counts;
		      			} else {
		      				e.closest('a').classList.add('active');
		      				e.closest('a').querySelector('span').innerText = response.data.counts;
		      			}
		      		} else {
		      			if(e.tagName.toLowerCase() === "a") {
		      				e.classList.remove('active');
		      				e.querySelector('span').innerText = response.data.counts;
		      			} else {
	      					e.closest('a').classList.remove('active');
	      					e.closest('a').querySelector('span').innerText = response.data.counts;
		      			}
		      		}
		      		e.parentElement.parentElement.parentElement.getElementsByClassName("like_box_count")[0].innerText = response.data.counts;
		      		e.parentElement.parentElement.parentElement.getElementsByClassName("likeuser-section-values")[0].innerHTML = response.data.likefeed_users;
	      		});
	      	},
	      	async addFeed() {
	      		let that = this; this.is_loading = true;
	      		var formdata = new FormData();
	      		formdata.append('feed', this.feed);
	      		formdata.append('page', this.page);
	      		for( var i = 0; i < this.images.length; i++ ) {
			       	let file = this.images[i];
			       	formdata.append('files[' + i + ']', file);
			    }

	      		axios.post('/api/feeds/add?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
	      			that.is_loading = false;
	      			var data = response.data.values;
	      			if(response.data.status == 'success') {
		      			that.feeds = data.feeds;
		      			that.feed_ct = data.feed_ct;
			    		that.showEditor()
			    		that.addHoverClass()
			    		that.addHoverWrapperClass()
		      		}
	      		});
	      	},
	      	editFeedVal() {
	      		let that = this; this.is_loading = true;
	      		var formdata = new FormData();
	      		formdata.append('feed', this.feed);
	      		formdata.append('page', this.page);

	      		for( var j = 0; j < this.edit_files.length; j++ ) {
			       	var file = this.edit_files[j];
			       	formdata.append('old_files[' + j + ']', file);
			    }
	      		for( var i = 0; i < this.images.length; i++ ) {
			       	let file = this.images[i];
			       	formdata.append('files[' + i + ']', file);
			    }

			    axios.post('/api/feeds/edit/'+this.edit_feed+'?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
			    	that.is_loading = false;
			    	if(response.data.status == 'success') {
			    		var data = response.data.values;
		      			that.feeds = data.feeds;
		      			that.feed_ct = data.feed_ct;
		      			that.showEditor();
		      			that.addHoverClass()
		      			that.addHoverWrapperClass()
			    		
			    	}
			    });
	      	},
	      	editFeed(item) {
	      		this.show_editor = true; this.is_edit = true;
	      		this.feed = item.description;
	      		this.edit_feed = item.id;
	      		this.editableFiles(item.files);
	      	},
	      	async deleteFeed(_id) {
	      		let that = this; this.is_loading = true;
	      		var formdata = new FormData();
	      		formdata.append('id', _id);
	      		formdata.append('page', this.page);

	      		axios.post('/api/feeds/delete?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
	      			that.is_loading = false;
	      			var data = response.data;
	          		that.feeds = data.feeds;
	          		that.feed_ct = data.feed_ct;
	          		that.setArrFields();
	      		});
	      	},
	      	listFeeds() {
	      		let that = this; this.is_loading = true;
	      		axios.get('/api/feeds?token=' + localStorage.getItem("api_token")).then(function (response) {		
	      			that.is_loading = false;
	      			var data = response.data; 
	          		that.feeds = data.feeds;
	          		that.time_for = data.time;
	          		that.feed_ct = data.feed_ct;
	          		that.has_permission = data.permission;
	          		that.birthdays = data.sidebar_data.birthdays;
	          		that.projects = data.projects;
	          		that.user_name = data.user_name; 
	          		that.sidebar_data = data.sidebar_data; 
	          		that.mentions = [{
				        dataSource: data.users,
				        searchExpr: 'text',
				        displayExpr: 'text',
				        valueExpr: 'id'
				    }]; 
				    if(data.profile) { that.user_profile = data.profile.profile; }
				    that.setArrFields();
	          	});
	      	},
	      	setArrFields() {
	      		for (var i = 0; i < this.feeds.length; i++) {
	      			this.comment_editor.push('');
	      		}
	      	},
	      	firebaseTrigger() { 
	    		let messaging = this.messaging;
	            if('serviceWorker' in navigator) {
	              	navigator.serviceWorker.register("/assets/js/firebase/firebase-messaging-sw.js").then(function(registration) {
	                   	messaging.useServiceWorker(registration);
                      	messaging.requestPermission().then(function() {
                        	// console.log('Notification permission granted.');
                        	messaging.getToken().then(function(currentToken) { 
                            	if (currentToken) {
                            		console.log(currentToken)
                                  	var user_id = localStorage.getItem("user"), formdata = new FormData();
                                  	formdata.append('device_token', currentToken);
                                  	formdata.append('user_id', user_id);
                                  	// set token for notifications for logged in user.
                                  	axios.post('/api/notify-token?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
                                  		localStorage.setItem("check_device_token", true);
                                  	});
	                            } else {
	                              	console.log('No Instance ID token available. Request permission to generate one.');
	                            }
                          	}).catch(function(err) {
                            	console.log('An error occurred while retrieving token. ', err);
                          	});
                      	}).catch(function(err) {
                        	console.log('Unable to get permission to notify.', err);
                      	});
	                }); 
	        	}
	        },
	        uncheckNotifications() {
		        let self = this;
		        let _url = '/api/notifications/feedUncheck?countVal=0';
		        
		        axios.get(_url)
		        .then(function (response) {  
		        	
		        	var span_div = document.createElement('span');
                    span_div.className = 'feed_countt';
                    span_div.innerHTML = response.data.totalCount;
		        	if(document.getElementsByClassName("feed_countt").length > 0){
	                     document.getElementsByClassName("feed_countt")[0].remove();
	                }
	                if(response.data.totalCount != 0){
	                   document.getElementsByClassName("c-sidebar-nav-item")[0].childNodes[0].appendChild(span_div);
	                }
		        })
		       
		    },
		    addHoverClass() {
		    		setTimeout(function() {
				    	jQuery( document ).ready(function() {			    
						    jQuery('.feeds-listing').each(function() {
						    	var array = [];
						    	jQuery(this).find('.description-sec img').each(function( index, value ) {
						    		 array.push(value.src);
						    	});
						    	jQuery(this).find('.show-img-full img').each(function( index, value ) {
						    		if(array.indexOf(value.src) >= 0) {
						    			jQuery(this).addClass('hover-active')
						    		} else {
						    			jQuery(this).removeClass('hover-active')
						    		}
						    	});
						    })

						    
						});
				    }, 2000);
		    },
		    addHoverWrapperClass() {
		    	setTimeout(function() {
			    	jQuery( document ).ready(function() {			    
					    jQuery('.wrapper-comment').each(function() {
					    	var wrapperArray = [];
					    	jQuery(this).find('.comment-section-detail img').each(function( index, value ) {
					    		 wrapperArray.push(value.src);
					    	});
					    	jQuery(this).find('.viewer-outer img').each(function( index, value ) {
					    		if(wrapperArray.indexOf(value.src) >= 0) {
					    			jQuery(this).addClass('hover-active')
					    		} else {
						    			jQuery(this).removeClass('hover-active')
						    		}
					    	});
					    })

					    
					});
			    }, 2000);
	    	},
	    	viewMore(feedId) {
	    		this._ttEl = event.target;
	    		let that = this; this.loading = true;
		    	var formdata = new FormData();
		    	var paginator = parseInt(jQuery(that._ttEl.parentElement.parentElement).find('.pervious-comm-btn a').attr('data-paginator'))+1;
		    	
		    	formdata.append('component_id', feedId);
		    	formdata.append('component', 'feed');
		    	formdata.append('pager', paginator);
		    	jQuery(that._ttEl.parentElement.parentElement).find('.pervious-comm-btn a').attr('data-paginator',paginator)
		    	axios.post('/api/comment/feeds-more?token=' + localStorage.getItem("api_token"), formdata).then(function (response) {
		    		that.moreComment = true;
		    		that.targetComment = response.data.comments;
		    		that.loading = false;
		    		setTimeout(function() { 
		    			var _count = that.totalComment(jQuery(that._ttEl.parentElement.parentElement).find('.pervious-comm-btn a').attr('data-count'));
		    			jQuery(that._ttEl.parentElement.parentElement).find('.pervious-comm-btn a').attr('data-count',_count)
		    			jQuery(that._ttEl.parentElement.parentElement).find('.pervious-comm-btn span').html(`(${_count})`);	
		    			jQuery(that._ttEl).parents().eq(1).find('.view-more').html(jQuery('#previous-comment').html());
		    			that.moreComment = false;
		    		    that.targetComment = [];
		    		}, 50);	    		
		    	})
	    	},
	    	totalComment(comment) {
	    		var totalC = comment;
	    		if(totalC > 0) {	    			
	    			if(totalC >= 3) {
	    				this.total_comment = totalC-3
	    				totalC = totalC-3;
	    			}
	    			if(comment < 3) {
	    				this.total_comment = totalC-totalC
	    				totalC = totalC-totalC
	    			}
	    			return totalC
	    		} else {
	    			this.total_comment = 0;
	    			return 0;
	    		}
	    	}
		},
		mounted () {
			var self=this;
			this.uncheckNotifications();
			if(localStorage.getItem("api_token")) {
				this.listFeeds();
				this._current = JSON.parse(localStorage.getItem('user'));
				this.is_admin = JSON.parse(localStorage.getItem('type'));
				this.date_format = localStorage.getItem('date_format');
				document.addEventListener('mouseup', event => {
			        this.selectDashTrigger(event);
			    });
			}
			if(!localStorage.getItem("check_device_token")){
				if (firebase.messaging.isSupported()) {
					this.firebaseTrigger();
				} else {
					this.$swal('Alert!', 'Your browser do not support firebase messaging', 'error');
				}
			}
			this.addHoverClass()
			this.addHoverWrapperClass()
			 jQuery(document).on('click', '.driver-item-icon', function() {
		          	var componentId = this.getAttribute('data-component');
		          	var id = this.getAttribute('data');

		          	self.deleteComment(id,componentId)
		        });

		}
	}
</script>