<template>
  <CRow>
    <CCol col="12" lg="12">
      <CCard>
        <CCardHeader class="task-heading mb-1">
              <h3 class="d-flex justify-content-between align-items-center">
            Create Employee
            <div class="btns-header"> 
              <CButton color="secondary" @click="goBack">Back</CButton>
            </div>
          </h3>
          </CCardHeader>
        <CCardBody>
          <CAlert
            :show.sync="dismissCountDown"
            color="primary"
            fade
          >
            {{ message }}
            
          </CAlert>
          <CForm @submit.prevent="store" method="POST">
              <CInput label="Employee Id *" type="number" placeholder="Employee Id" v-model="user.employee_id"></CInput>  
              <validationError v-if="errors.employee_id" :error="errors.employee_id[0]"  />  
              <CInput label="Name *" type="text" placeholder="Name" v-model="user.name"></CInput>
              <validationError v-if="errors.name" :error="errors.name[0]"  />
              <CInput label="Email *" type="email" placeholder="Email" v-model="user.email"></CInput>
              <validationError v-if="errors.email" :error="errors.email[0]"  />
              <CInput label="Joining Date *" placeholder="Joining Date" type="date"  v-model="user.joining_date" />
              <validation-error v-if="errors.joining_date" :error="errors.joining_date[0]"  />
              <div class="form-group">
                  <label> Select Position *</label>
                  <select class="form-control"  v-model="user.position"> 
                       <option disabled value="0">Select a Position</option>  
                       <option v-for="item in items"  v-bind:value="item.id">{{item.name}}</option>        
                  </select>
              </div>
               <validation-error v-if="errors.position" :error="errors.position[0]"  />
              <div class="form-group">
                  <label> Select role *</label>
                  <select class="form-control" v-model="user.userRole">   
                    <option disabled value="0">Select a Role</option>              
                    <option v-for="role in roles"  v-bind:value="role.name">{{role.name}}</option>               
                  </select> 
              </div>
              <validationError v-if="errors.userRole" :error="errors.userRole[0]"  />
              <CInput label="Password *" type="password" placeholder="Password" v-model="user.password"></CInput>
              <validationError v-if="errors.password" :error="errors.password[0]"  />
              <CInput label="Reapeat Password *" type="password" placeholder="Reapeat Password" v-model="user.password_confirmation"></CInput>
               <validationError v-if="errors.password_confirmation" :error="errors.password_confirmation[0]"  />
         
          <CButton color="primary" type="submit">Create</CButton>
         
           </CForm>
        </CCardBody>
      </CCard>
    </CCol>
    <div class="loader-image" v-if="is_loading">
      <img :src="loader">
    </div>
  </CRow>
 
</template>

<script>
import axios from 'axios'
import validationError from './validation-errors.vue'
import { mapGetters, mapActions } from "vuex";
export default {
  name: 'CreateEmployee',
  data: () => {
    return {
        user: {
          name: '',
          test: '',
          email: '',
          password: '',
          employee_id:'',
          password_confirmation: '',
          joining_date:'',
          userRole:0,
          position:0,
        },
        loader: '/img/loader.gif',
        is_loading: false,
        message: '',
        roles: [],
        items: [],
        dismissSecs: 7,
        dismissCountDown: 0,
        showDismissibleAlert: false
    }
  },
   components: {
        validationError
      },
  computed: {
    ...mapGetters(["errors"])
  },
  methods: {
    goBack() {
      this.$router.go(-1)
    },
     validationError()
      {
         let self = this;
         
         let error={};
          if(!self.user.name){error.name=[]; error.name[0]="Name Field is required!"; } 
          if(!self.user.employee_id){error.employee_id=[]; error.employee_id[0]="Employee Field is required!"; } 
          if(!self.user.email){error.email=[]; error.email[0]="Email Field is required!"; } 
          if(!self.user.joining_date){error.joining_date=[]; error.joining_date[0]="Joining Date Field is required!"; } 
          if(!self.user.password){error.password=[]; error.password[0]="Password Field is required!"; } 
          if(!self.user.password_confirmation){error.password_confirmation=[]; error.password_confirmation[0]="Confirmation Password Field is required!"; } 
          if(self.user.position == "0"){error.position=[]; error.position[0]="Position Field is required!"; } 
          if(self.user.userRole == "0"){error.userRole=[]; error.userRole[0]="Roles Field is required!"; } 
          if(Object.keys(error).length){
             self.$store.commit("setErrors", error);
             return true;
          }
          self.$store.commit("setErrors", {});
          return false;          

        },
    store() {
        let self = this;
        if(self.validationError()) {
          return;
        } 
        this.is_loading = true;

        axios.post(  '/api/users?token=' + localStorage.getItem("api_token"),
          {
            name: self.user.name,
            employee_id: self.user.employee_id,
            email: self.user.email,
            joining_date: self.user.joining_date,
            position: self.user.position,
            role: self.user.userRole,
            password: self.user.password,
            password_confirmation: self.user.password_confirmation,
  
          }
        )
        .then(function (response) {
          self.is_loading = false;
          if(response) {
            self.$router.push({path: '/employees'});
          }   
        });
    },
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert () {
      this.dismissCountDown = this.dismissSecs
    },
    getDesignations (){
      let self = this;
      axios.get(  '/api/designations?token=' + localStorage.getItem("api_token") )
      .then(function (response) {
        self.items = response.data;
        self.$store.dispatch('topFunction');
      });
    },
  },
  mounted () {
      let self = this;
      self.getDesignations();
      self.$store.commit("setErrors", {})
     axios.get(  '/api/roles?token=' + localStorage.getItem("api_token"))
     .then(function (response) {
      self.roles = response.data
      });
  }
}

</script>
