  <template>
  <CRow>
    <CCol xs="12" lg="12">
        <CCard>
          <CCardHeader class="task-heading mb-1">
              <h3 class="d-flex justify-content-between align-items-center" v-if="name">
            Edit Employee : {{name}}
            <div class="btns-header"> 
              <CButton color="secondary" @click="goBack">Back</CButton>
            </div>
          </h3>
          </CCardHeader>
          <CCardBody>
             <div class="custom-tabs-sec">
            <CTabs variant="pills" horizontal>
              <CTab title="Basic Info" active>
                <CForm >
                    <CAlert
                      :show.sync="dismissCountDown"
                      color="primary"
                      fade
                    >
                      {{ message }}
                    </CAlert>
                    <CInput label="Employee Id *" type="number" placeholder="Employee Id" v-model="employee_id"></CInput>  
                    <validationError v-if="errors.employee_id" :error="errors.employee_id[0]"  />  
                    <CInput type="text" required label="Name *" placeholder="Name" v-model="name"></CInput>
                     <validation-error v-if="errors.name" :error="errors.name[0]"  />
                    <CInput type="text" required label="Email"  placeholder="Email" v-model="email" disabled></CInput> 
                    <validation-error v-if="errors.email" :error="errors.email[0]"  />           
                    <CInput type="number" required label="Contact Number *" placeholder="Contact Number" v-model="contact_number"></CInput>
                     <validation-error v-if="errors.contact_number" :error="errors.contact_number[0]"  />
                 
                    <CInput type="number"  label="Alternate Number" placeholder="Alternate Number" v-model="alternate_number"></CInput>
                    <div class="form-group">
                      <label> Select Position *</label>
                      <select class="form-control"  v-model="position">
                           <option disabled value="null">Select a Position</option>        
                           <option v-for="item in items"  v-bind:value="item.id">{{item.name}}</option>        
                      </select>
                  </div>
                   <validation-error v-if="errors.position" :error="errors.position[0]"  />
                	<div class="form-group">
  		                <label> Select role *</label>
  		                <select class="form-control" v-model="pos">
                         <option disabled value="null">Select a Role</option>               
  		                  <option v-for="role in roles"  v-bind:value="role.name">{{role.name}}</option>               
  		                </select> 
  	           		</div>
                     <validation-error v-if="errors.pos" :error="errors.pos[0]"  />
                     <CInput type="text" label="Department" placeholder="Department" v-model="department"></CInput>
                     <validation-error v-if="errors.department" :error="errors.department[0]"  />
                     <CInput label="Joining Date *" placeholder="Joining Date" type="date"  v-model="joining_date" />
                     <validation-error v-if="errors.joining_date" :error="errors.joining_date[0]"  />
                     <CInput label="Next Appraisal Date" placeholder="Next Appraisal Date" type="date"  v-model="appraisel_date" />
                     <CInput label="Date of Birth *" placeholder="Department" type="date"  v-model="dof" />
                     <validation-error v-if="errors.dof" :error="errors.dof[0]"  />
                     <CTextarea type="text" label="Current Address" rows="5" v-model="current_address"></CTextarea>
                     <CTextarea type="text" label="Permanent Address" rows="5" v-model="permanent_address"></CTextarea>                     
                     <CTextarea type="text" label="Additional Information" rows="5" v-model="additional_info"></CTextarea>
                  <div class="form-group is_active_div">
                      <label>Is active? </label>
                      <CInput type="checkbox" :checked="parseInt(is_active)" @change="checked_active" v-model="is_active"  ></CInput>
                  </div>   
                    <CButton color="primary" @click="update()">Save</CButton>
                </CForm>
              </CTab>
              <CTab title="Profile Pic">
                  <form @submit="formSubmit" enctype="multipart/form-data" >
                    <CAlert :show.sync="dismissCountDown" color="primary" fade >
                      {{ message }}
                    </CAlert>
                     <img v-if="profile" :src="profile" class="add-profile">
                     <img v-else :src="avtar" class="add-profile">
                     <div role="group" class="form-group">
                         <label>Profile Picture</label>
                         <input type="file"  class="form-control" @change="selectFile">  
                     </div>             
                    <CButton color="primary" type="submit" >Save</CButton>
                  </form>
              </CTab>
             <CTab title="Document" >
                <form @submit="docsSubmit" enctype="multipart/form-data" class="document-form">
                    <CAlert :show.sync="dismissCountDown" color="primary" fade >
                      {{ message }}
                    </CAlert>
                    <div class="employee-docs-tab">
                      <CTabs variant="pills">
                        <CTab title="Pan Card" active>
                            <div class="outer-box" v-if="pan_card">                      
                              <iframe v-if="pan_card.split('.').pop() == 'pdf' || pan_card.split('.').pop() == 'docx'" :src="pan_card"></iframe>
                              <img v-else :src="pan_card">
                              <a :href="pan_card" v-if="pan_card" class="btn-primary btn" :download="name+'-pan-card'">Download</a>
                            </div>
                            <div role="group" class="form-group">                         
                              <input type="file"  name="pancard" class="form-control" @change="selectFile">  
                            </div>
                        </CTab>

                        <CTab title="Adhar Card">
                            <div class="outer-box" v-if="adhar_card">                      
                              <div  v-for="(aadhar, key) in adhar_card">
                                <iframe v-if="aadhar.split('.').pop() == 'pdf' || aadhar.split('.').pop() == 'docx'" :src="aadhar"></iframe>
                                <img v-else :src="aadhar">
                                <a :href="aadhar" class="btn-primary btn" :download="name+key+'-other-docs'">Download</a>
                              </div>
                            </div>
                            <div role="group" class="form-group">                        
                              <input type="file" name="adharcard" multiple  class="form-control" @change="selectAdharDocs">  
                            </div>
                        </CTab>

                        <CTab title="Official Docs">
                            <div class="outer-box" v-if="official_docs">                      
                              <div  v-for="(office_doc, key) in official_docs">
                                <iframe v-if="office_doc.split('.').pop() == 'pdf' || office_doc.split('.').pop() == 'docx'" :src="office_doc"></iframe>
                                <img v-else :src="office_doc">
                                <a :href="office_doc" class="btn-primary btn" :download="name+key+'-other-docs'">Download</a>
                              </div>
                            </div> 
                            <div role="group" class="form-group">                        
                              <input type="file"  name="officialDocs" multiple class="form-control" @change="selectOficialDocs">  
                            </div>
                        </CTab>

                        <CTab title="Qualification/Experience Docs">
                            <div class="outer-box" v-if="other_docs">                      
                              <div  v-for="(other_doc, key) in other_docs">
                                <iframe v-if="other_doc.split('.').pop() == 'pdf' || other_doc.split('.').pop() == 'docx'" :src="other_doc"></iframe>
                                <img v-else :src="other_doc">
                                <a :href="other_doc" class="btn-primary btn" :download="name+key+'-other-docs'">Download</a>
                              </div>
                            </div> 
                            <div role="group" class="form-group">                        
                              <input type="file"  name="otherdocs" multiple class="form-control" @change="selectDocs">  
                            </div> 
                        </CTab>
                      </CTabs>
                    </div>     
                    <CButton color="primary" type="submit" >Save</CButton>
                  </form>
              </CTab>
               <CTab title="Password" >
                <CForm @submit="passwordUpdateSubmit">
                    <CAlert
                      :show.sync="dismissCountDown"
                      color="primary"
                      fade
                    >
                      {{ message }}
                    </CAlert>
                    <CInput type="password" label="New Password"  placeholder="New Password" required v-model="new_password"></CInput>  
                      <validation-error v-if="errors.new_password" :error="errors.new_password[0]"  /> 
                    <CInput type="password" label="Confirm Password"  placeholder="Confirm Password" required v-model="confirm_password"></CInput> 
                     <validation-error v-if="errors.confirm_password" :error="errors.confirm_password[0]"  />
                    <CButton color="primary" type="submit">Save</CButton>
                </CForm>
              </CTab>
            </CTabs>
          </div>
          </CCardBody>
        </CCard>
      </CCol>
      <div class="loader-image" v-if="is_loading">
        <img :src="loader">
      </div>
  </CRow>
</template>

<script>
import axios from 'axios'
import validationError from './validation-errors.vue'
import { mapGetters, mapActions } from "vuex";
import { DxHtmlEditor } from 'devextreme-vue/html-editor';
export default {
  name: 'EditEmployee',
  props: {
    caption: {
      type: String,
      default: 'User id'
    },
  },
  data: () => {
    return {
        tabs: [
          'Calculator',
          'Shopping cart',
          'Charts'
        ],
        items: [],
        activeTab: 1,
        employee_id:'',
        name: '',
        email: '',
        is_active: 0,
        contact_number:'', 
        alternate_number:'',
        position:'',
        department:'',
        joining_date:'',
        appraisel_date: '',
        additional_info: '',
        dof:'',
        pos:'',
        image:'',
        profile:'',
        pan_card:'',
        adhar_card:'',
        other_docs:'',
        official_docs:'',
        other_docss:[],
        officialDocs:[],
        otherDocs:[],
        panCard:'',
        adharCard:[],
        current_address:'',
        permanent_address:'',
        roles: [],
        avtar: '/img/user-avtar.jpg',
        loader: '/img/loader.gif',
        is_loading: false,
        showMessage: false,
        message: '',
        dismissSecs: 4,
        dismissCountDown: 0,
        new_password:'',
        confirm_password:'',
        showDismissibleAlert: false
    }
  },
   components: {
        validationError, DxHtmlEditor
      },
   computed: {
    ...mapGetters(["errors"])
  },
  methods: {
    checked_active() {
      if(event.target.checked){
          this.is_active = "1";
      }else{
         this.is_active = "0";
      }
    },
    goBack() {
      this.$router.go(-1)
      // this.$router.replace({path: '/users'})
    },
     validationError()
      {
         let self = this;         
         let error={};
          if(!self.name){error.name=[]; error.name[0]="This Field is required!"; } 
          if(!self.employee_id){error.employee_id=[]; error.employee_id[0]="This Field is required!"; } 
          if(!self.contact_number){error.contact_number=[]; error.contact_number[0]="This Field is required!"; } 
          if(!self.position){error.position=[]; error.position[0]="This Field is required!"; } 
          if(!self.pos){error.pos=[]; error.pos[0]="This Field is required!"; }
          if(!self.joining_date){error.joining_date=[]; error.joining_date[0]="This Field is required!"; }  
          if(!self.dof){error.dof=[]; error.dof[0]="This Field is required!"; } 
          if(Object.keys(error).length){
             self.$store.commit("setErrors", error);
             return true;
          }
          self.$store.commit("setErrors", {});
          return false; 

        },
     update: function () {
        let self = this; let error={};
       if(self.validationError()) {
           return
       }
       this.is_loading = true;
        axios.post(  '/api/users/' + self.$route.params.id + '?token=' + localStorage.getItem("api_token"),
        {
            _method: 'PUT',
            name: self.name,
            employee_id: self.employee_id,
            email: self.email,
            is_active: self.is_active,
            contact_no: self.contact_number,
            alternate_no: self.alternate_number,
            position: self.position,
            role: self.pos,
            department: self.department,
            birth_date: self.dof,
            profile: self.profile,
            joining_date: self.joining_date,
            appraisel_date: self.appraisel_date,
            additional_info: self.additional_info,
            current_address: self.current_address,
            permanent_address: self.permanent_address,
            headers: {
                    'Content-Type': 'multipart/form-data'
                }
        })
        .then(function (response) {
          self.is_loading = false;
          if(response.data.status == 'success') {
            self.message = 'Successfully updated user.';
          } else if(response.data.status == 'error') {
            self.message = response.data.message;
            if(response.data.type == 'employee_id') {
              error.employee_id=[]; error.employee_id[0]= response.data.message;
              self.$store.commit("setErrors", error);
            }
          }
          self.showAlert();
          self.$store.dispatch('topFunction');
            
        })
    },
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert () {
      this.dismissCountDown = this.dismissSecs
    },
     getDesignations (){
      let self = this;
      axios.get(  '/api/designations?token=' + localStorage.getItem("api_token") )
      .then(function (response) {
        self.items = response.data;
        self.$store.dispatch('topFunction');
      });
    },
     selectFile(event) {
      let self=this;
          let reader = new FileReader();
           let file = event.target.files[0];
           if(event.target.getAttribute('name') == 'pancard') {
              reader.onloadend = () => {
              self.pan_card = reader.result;
              self.panCard = event.target.files[0];
             }
           }
          else if(event.target.getAttribute('name') == 'adharcard') {
              reader.onloadend = () => {
              self.adhar_card = reader.result;
              self.adharCard = event.target.files[0];
             }
           } else {
              reader.onloadend = () => {
              this.profile = reader.result;
             }
           }
           this.image=event.target.files[0];
           reader.readAsDataURL(file);
        },
        selectDocs(event) {
            let files = event.target.files;
            this.otherDocs = event.target.files;

            for (var i = 0; i < files.length; i++) {
              var file = files[i];
              var reader = new FileReader();
              reader.onload = (e) => {
                this.other_docss.push(e.target.result);
              }          
              reader.readAsDataURL(file);
            }

        },
        selectDocs(event) {
            this.otherDocs = event.target.files;
        },
        selectAdharDocs(event) {
            this.adharCard = event.target.files;
        },
        selectOficialDocs(event) {
            this.officialDocs = event.target.files;
        },

     formSubmit(e) {
        e.preventDefault();
         let self = this;
            let formData = new FormData();
            formData.append('file', self.image);
            axios.post('/api/users/' + self.$route.params.id + '/save?token=' + localStorage.getItem("api_token"), formData)
                .then(function (response) {
                      self.message = 'Successfully Picture Updated.';
                      self.showAlert();
                      self.$store.dispatch('topFunction');
                })
                .catch(function (error) {
                   console.log(error.response.errors);
                });
     },
     docsSubmit(e) {
        e.preventDefault();
         let self = this;
   
            const config = {
                headers: { 'content-type': 'multipart/form-data' }
            }

            let formData = new FormData();
            formData.append('pan_card', self.panCard);
            formData.append('adhar_card', self.adharCard);
            for( var i = 0; i < this.adharCard.length; i++ ){
              let file = this.adharCard[i];
              formData.append('adhar_card[' + i + ']', file);
            }
            for( var j = 0; j < this.officialDocs.length; j++ ){
              let file = this.officialDocs[j];
              formData.append('officialDocs[' + j + ']', file);
            }
            for( var k = 0; k < this.otherDocs.length; k++ ){
              let file = this.otherDocs[k];
              formData.append('otherDocs[' + k + ']', file);
            }

            axios.post('/api/users/' + self.$route.params.id + '/save?token=' + localStorage.getItem("api_token"), formData, config)
                .then(function (response) {
                  self.pan_card = response.data.pan_card;
                  if(response.data.adhar_card) {
                    self.adhar_card = JSON.parse(response.data.adhar_card);
                  }
                  if(response.data.official_docs) {
                    self.official_docs = JSON.parse(response.data.official_docs);
                  }
                  if(response.data.other_docs) {
                    self.other_docs = JSON.parse(response.data.other_docs);
                  }
                    self.message = 'Successfully Docs Updated.';
                    self.showAlert();
                    self.$store.dispatch('topFunction');
                })
                .catch(function (error) {
                    console.log(error.response.errors)
                });
     },
     passwordUpdateSubmit(e) {
        e.preventDefault();
         let self = this;
            let formData = new FormData();
            formData.append('new_password', self.new_password);
            formData.append('confirm_password', self.confirm_password);
            this.$store.commit("setErrors", {})
           
            axios.post('/api/users/' + self.$route.params.id + '/save?token=' + localStorage.getItem("api_token"), formData)
                .then(function (response) {
                  if(response.data.error){
                     self.message = response.data.error;
                  }else{
                    self.message = 'Successfully Password Updated.';
                  }  
                  self.showAlert();
                  self.$store.dispatch('topFunction');
                })
                .catch(function (error) {
                    console.log(error.response.errors)
                });
     },
     updatePassword() {
        let self = this;
    }
  },
  mounted: function(){
    let self = this;
    axios.get(  '/api/users/' + self.$route.params.id + '/edit?token=' + localStorage.getItem("api_token"))
    .then(function (response) {
      console.log(response.data)
        self.name = response.data.name;
        self.employee_id = response.data.employee_id;
        self.email = response.data.email;
        self.is_active = response.data.is_active;
        self.contact_number = response.data.contact_no;
        self.profile = response.data.profile;
        self.alternate_number = response.data.alternate_no;
        self.position = response.data.position;
        self.current_address = response.data.current_address;
        self.permanent_address = response.data.permanent_address;
        self.pos = response.data.roles;
        self.department = response.data.department;
        if(response.data.birth_date) { self.dof = response.data.birth_date.split(' ')[0]; }
        if(response.data.joining_date) { self.joining_date = response.data.joining_date.split(' ')[0]; }
        if(response.data.appraisel_date) { self.appraisel_date = response.data.appraisel_date.split(' ')[0]; }
        self.additional_info = response.data.additional_info;
        self.pan_card = response.data.pan_card;
        if(response.data.adhar_card) {
          self.adhar_card = JSON.parse(response.data.adhar_card);
        }
        if(response.data.official_docs) {
          self.official_docs = JSON.parse(response.data.official_docs);
        }
        if(response.data.other_docs) {
          self.other_docs = JSON.parse(response.data.other_docs);
        }
    });
    

    this.getDesignations();
    this.$store.commit("setErrors", {})
     axios.get(  '/api/roles?token=' + localStorage.getItem("api_token"))
     .then(function (response) {
      self.roles = response.data
      });
  }
}


</script>
